interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AZCLIDeploymentTestRG_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001","name":"AZCLIDeploymentTestRG_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_deployment_cert_config","date":"2023-10-09T02:59:52Z","module":"nginx"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"idleTimeoutInMinutes": 4, "publicIPAddressVersion":
      "IPv4", "publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"},
      "zones": ["2"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip?api-version=2022-11-01
  response:
    body:
      string: '{"name":"azclitest-public-ip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip","etag":"W/\"230308b5-e00b-40f5-a90f-98748254caa9\"","location":"eastus2euap","zones":["2"],"properties":{"provisioningState":"Updating","resourceGuid":"a2c9cb12-edcb-4aa4-bbbb-b4307c7d485b","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/a9363d1a-e490-4e3b-843d-0df6747553ec?api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/a9363d1a-e490-4e3b-843d-0df6747553ec?api-version=2022-11-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip?api-version=2022-11-01
  response:
    body:
      string: '{"name":"azclitest-public-ip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip","etag":"W/\"e6a30ff7-cfb0-4fe9-8929-ccb2ebec2587\"","location":"eastus2euap","zones":["2"],"properties":{"provisioningState":"Succeeded","resourceGuid":"a2c9cb12-edcb-4aa4-bbbb-b4307c7d485b","ipAddress":"20.47.160.102","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e6a30ff7-cfb0-4fe9-8929-ccb2ebec2587"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "azclitest-subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/provi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet\",\r\n
        \ \"etag\": \"W/\\\"425fcb3e-eae6-4a5b-b690-6ffa19842fdd\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"4b9a232b-6348-4aab-98ec-b26b913529a9\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"azclitest-subnet\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet\",\r\n
        \       \"etag\": \"W/\\\"425fcb3e-eae6-4a5b-b690-6ffa19842fdd\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"425fcb3e-eae6-4a5b-b690-6ffa19842fdd"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet?api-version=2023-05-01
  response:
    body:
      string: '{"name":"azclitest-subnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet","etag":"W/\"425fcb3e-eae6-4a5b-b690-6ffa19842fdd\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"425fcb3e-eae6-4a5b-b690-6ffa19842fdd"
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet",
      "name": "azclitest-subnet", "properties": {"addressPrefix": "10.0.0.0/24", "delegations":
      [{"name": "0", "properties": {"serviceName": "NGINX.NGINXPLUS/nginxDeployments"}}],
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}, "type": "Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet?api-version=2023-05-01
  response:
    body:
      string: '{"name":"azclitest-subnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet","etag":"W/\"038b6611-4517-42a6-89cc-0564b2923cd1\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[{"name":"0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet/delegations/0","etag":"W/\"038b6611-4517-42a6-89cc-0564b2923cd1\"","properties":{"provisioningState":"Succeeded","serviceName":"NGINX.NGINXPLUS/nginxDeployments","actions":["Microsoft.Network/virtualNetworks/subnets/join/action"]},"type":"Microsoft.Network/virtualNetworks/subnets/delegations"}],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/7a47fef2-3b18-4877-8b6d-d862d4656a5a?api-version=2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"enableDiagnosticsSupport":
      true, "networkProfile": {"frontEndIPConfiguration": {"publicIPAddresses": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip"}]},
      "networkInterfaceConfiguration": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet"}}},
      "sku": {"name": "standard_Monthly"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments/azclitest-deployment?api-version=2022-08-01
  response:
    body:
      string: '{"error":{"code":"PaymentRequired","message":"SaaS Purchase Payment
        Check Failed as validationResponse was {\"isEligible\":false,\"errorMessage\":\"No
        employee profile was found in Jarvis for a7116fa1-5ab4-4582-8d17-77e64b46b349
        with GTM azure subscription :0b1f6471-1bf0-4dda-aec3-cb9272f09590\"}"}}'
    headers:
      content-type:
      - application/json
      x-ms-failure-cause:
      - gateway
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: Bad Request
version: 1
