interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AZCLIDeploymentTestRG_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001","name":"AZCLIDeploymentTestRG_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_deployment_cert_config","date":"2023-09-13T12:38:08Z","module":"nginx"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"idleTimeoutInMinutes": 4, "publicIPAddressVersion":
      "IPv4", "publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"},
      "zones": ["2"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip?api-version=2022-11-01
  response:
    body:
      string: '{"name":"azclitest-public-ip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip","etag":"W/\"53027f2a-4831-4b5e-9be8-4b13bf2d1bf9\"","location":"eastus2euap","zones":["2"],"properties":{"provisioningState":"Updating","resourceGuid":"aed04c83-21cb-4e7f-a4e8-c685ce98fe55","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/406ff542-f31e-4ac3-9e98-8f790f6b0db5?api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/406ff542-f31e-4ac3-9e98-8f790f6b0db5?api-version=2022-11-01
  response:
    body:
      string: '{"status":"InProgress"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip?api-version=2022-11-01
  response:
    body:
      string: '{"name":"azclitest-public-ip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip","etag":"W/\"320d74a7-7afa-4a61-8b88-cde6656592d6\"","location":"eastus2euap","zones":["2"],"properties":{"provisioningState":"Succeeded","resourceGuid":"aed04c83-21cb-4e7f-a4e8-c685ce98fe55","ipAddress":"68.220.97.130","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ddosSettings":{"protectionMode":"VirtualNetworkInherited"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"320d74a7-7afa-4a61-8b88-cde6656592d6"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "azclitest-subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/provi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-vnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet\",\r\n
        \ \"etag\": \"W/\\\"70c896d2-eec4-4c1d-b70e-7b84669771da\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
        \"d311204e-373f-44a4-9979-0d6ec18e3d82\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"azclitest-subnet\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet\",\r\n
        \       \"etag\": \"W/\\\"70c896d2-eec4-4c1d-b70e-7b84669771da\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"70c896d2-eec4-4c1d-b70e-7b84669771da"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-subnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet\",\r\n
        \ \"etag\": \"W/\\\"70c896d2-eec4-4c1d-b70e-7b84669771da\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"70c896d2-eec4-4c1d-b70e-7b84669771da"
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet",
      "name": "azclitest-subnet", "properties": {"addressPrefix": "10.0.0.0/24", "delegations":
      [{"name": "0", "properties": {"serviceName": "NGINX.NGINXPLUS/nginxDeployments"}}],
      "privateEndpointNetworkPolicies": "Disabled", "privateLinkServiceNetworkPolicies":
      "Enabled"}, "type": "Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet?api-vers[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"azclitest-subnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet\",\r\n
        \ \"etag\": \"W/\\\"ad22e305-6406-4c45-b4e9-8a4b3c519c08\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [\r\n      {\r\n        \"name\": \"0\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet/delegations/0\",\r\n
        \       \"etag\": \"W/\\\"ad22e305-6406-4c45-b4e9-8a4b3c519c08\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"serviceName\": \"NGINX.NGINXPLUS/nginxDeployments\",\r\n          \"actions\":
        [\r\n            \"Microsoft.Network/virtualNetworks/subnets/join/action\"\r\n
        \         ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n
        \     }\r\n    ],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ad22e305-6406-4c45-b4e9-8a4b3c519c08"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"enableDiagnosticsSupport":
      true, "networkProfile": {"frontEndIPConfiguration": {"publicIPAddresses": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/publicIPAddresses/azclitest-public-ip"}]},
      "networkInterfaceConfiguration": {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Microsoft.Network/virtualNetworks/azclitest-vnet/subnets/azclitest-subnet"}}},
      "sku": {"name": "standard_Monthly"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AZCLIDeploymentTestRG_000001/providers/Nginx.NginxPlus/nginxDeployments/azclitest-deployment?api-version=2022-08-01
  response:
    body:
      string: '{"error":{"code":"PaymentRequired","message":"SaaS Purchase Payment
        Check Failed as validationResponse was {\"isEligible\":false,\"errorMessage\":\"No
        employee profile was found in Jarvis for a7116fa1-5ab4-4582-8d17-77e64b46b349
        with GTM azure subscription :0b1f6471-1bf0-4dda-aec3-cb9272f09590\"}"}}'
    headers:
      content-type:
      - application/json
      x-ms-failure-cause:
      - gateway
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 400
      message: Bad Request
version: 1
