interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sentinel_000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001","name":"cli_test_sentinel_000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","test":"test_sentinel_watchlist_crud","date":"2023-08-15T05:26:11Z","module":"securityinsight"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"retentionInDays": 30, "sku": {"name":
      "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"28afbc04-e6fc-47b7-a42a-e5c7af0c8a84","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-15T05:26:13.3880589Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-15T23:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-15T05:26:13.3880589Z","modifiedDate":"2023-08-15T05:26:13.3880589Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002","name":"workspace-000002","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"28afbc04-e6fc-47b7-a42a-e5c7af0c8a84","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-08-15T05:26:13.3880589Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-08-15T23:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-08-15T05:26:13.3880589Z","modifiedDate":"2023-08-15T05:26:13.3880589Z"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002","name":"workspace-000002","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "plan": {"name": "SecurityInsights(workspace-000002)",
      "publisher": "Microsoft", "promotionCode": "", "product": "OMSGallery/SecurityInsights"},
      "properties": {"workspaceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/microsoft.OperationalInsights/workspaces/workspace-000002"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights%28workspace-000002%29?api-version=2015-11-01-preview
  response:
    body:
      string: '{"plan":{"name":"SecurityInsights(workspace-000002)","publisher":"Microsoft","promotionCode":"","product":"OMSGallery/SecurityInsights"},"properties":{"workspaceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/microsoft.OperationalInsights/workspaces/workspace-000002","provisioningState":"Succeeded","creationTime":"Tue,
        15 Aug 2023 05:26:15 GMT","sku":{"name":"Unified"},"lastModifiedTime":"Tue,
        15 Aug 2023 05:26:15 GMT","containedResources":[],"workbookTemplates":[]},"location":"eastus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights(workspace-000002)","name":"SecurityInsights(workspace-000002)","type":"Microsoft.OperationsManagement/solutions"}'
    headers:
      api-supported-versions:
      - 2015-11-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights(workspace-000002)?api-version=2015-11-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights(workspace-000002)?api-version=2015-11-01-preview
  response:
    body:
      string: '{"plan":{"name":"SecurityInsights(workspace-000002)","publisher":"Microsoft","promotionCode":"","product":"OMSGallery/SecurityInsights"},"properties":{"workspaceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/microsoft.OperationalInsights/workspaces/workspace-000002","provisioningState":"Succeeded","creationTime":"Tue,
        15 Aug 2023 05:26:15 GMT","sku":{"name":"Unified"},"lastModifiedTime":"Tue,
        15 Aug 2023 05:26:15 GMT","containedResources":[],"workbookTemplates":[]},"location":"eastus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationsManagement/solutions/SecurityInsights(workspace-000002)","name":"SecurityInsights(workspace-000002)","type":"Microsoft.OperationsManagement/solutions"}'
    headers:
      api-supported-versions:
      - 2015-11-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "Watchlist from CSV content", "displayName":
      "High Value Assets Watchlist", "itemsSearchKey": "header1", "provider": "Microsoft",
      "watchlistAlias": "watchlist-000003"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/watchlists/watchlist-000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Watchlists/watchlist-000003","name":"watchlist-000003","etag":"\"c102fc37-0000-0100-0000-64db0c990000\"","type":"Microsoft.SecurityInsights/Watchlists","systemData":{"createdAt":"2023-08-15T05:26:46.6307178Z","createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","lastModifiedAt":"2023-08-15T05:26:46.6307178Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User"},"properties":{"watchlistId":"d26f1484-2f1f-4174-af02-8a8c741287cf","displayName":"High
        Value Assets Watchlist","provider":"Microsoft","itemsSearchKey":"header1","created":"2023-08-15T05:26:46.6307178+00:00","updated":"2023-08-15T05:26:46.6307178+00:00","createdBy":{"objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","email":"azureclilivetest@azuresdkteam.onmicrosoft.com","name":"a0965655-eecb-4c9f-8e21-2488aadf59fe"},"updatedBy":{"objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","email":"azureclilivetest@azuresdkteam.onmicrosoft.com","name":"a0965655-eecb-4c9f-8e21-2488aadf59fe"},"description":"Watchlist
        from CSV content","watchlistType":"watchlist","watchlistAlias":"watchlist-000003","isDeleted":false,"labels":[],"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","numberOfLinesToSkip":0,"provisioningState":"Succeeded","sasUri":"","watchlistCategory":"General"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/watchlists?api-version=2022-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Watchlists/watchlist-000003","name":"watchlist-000003","type":"Microsoft.SecurityInsights/Watchlists","systemData":{"createdAt":"2023-08-15T05:26:46.6307178Z","createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","lastModifiedAt":"2023-08-15T05:26:46.6307178Z","last[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/watchlists/watchlist-000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Watchlists/watchlist-000003/watchlistStatuses/aca9d841-dd76-45db-99bb-97e06a9d3fba?api-version=2022-06-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sentinel_000001/providers/Microsoft.OperationalInsights/workspaces/workspace-000002/providers/Microsoft.SecurityInsights/Watchlists/watchlist-000003/watchlistStatuses/aca9d841-dd76-45db-99bb-97e06a9d3fba?api-version=2022-06-01-preview
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
