interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_hardware_security_modules000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001","name":"cli_test_hardware_security_modules000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_hardware_security_modules","date":"2023-10-09T03:45:24Z","module":"hardware-security-modules"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.2.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "compute", "properties": {"addressPrefix": "10.2.0.0/24"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"testvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet\",\r\n
        \ \"etag\": \"W/\\\"73590b2d-f259-4c53-90cf-8eb0f31130e1\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"421c3d51-18c4-4e58-bf44-06a4014699da\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.2.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n
        \     {\r\n        \"name\": \"compute\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/compute\",\r\n
        \       \"etag\": \"W/\\\"73590b2d-f259-4c53-90cf-8eb0f31130e1\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.2.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/dccbbcff-0ac0-4d02-9fea-0fde42f6bbd2?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/dccbbcff-0ac0-4d02-9fea-0fde42f6bbd2?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "hsmsubnet", "properties": {"addressPrefix": "10.2.1.0/24", "delegations":
      [{"name": "0", "properties": {"serviceName": "Microsoft.HardwareSecurityModules/dedicatedHSMs"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/hsmsubnet?api-version=2023-05-01
  response:
    body:
      string: '{"name":"hsmsubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/hsmsubnet","etag":"W/\"525d5df3-196c-4a97-be6d-fd4429bc59f9\"","properties":{"provisioningState":"Updating","addressPrefix":"10.2.1.0/24","delegations":[{"name":"0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/hsmsubnet/delegations/0","etag":"W/\"525d5df3-196c-4a97-be6d-fd4429bc59f9\"","properties":{"provisioningState":"Succeeded","serviceName":"Microsoft.HardwareSecurityModules/dedicatedHSMs","actions":["Microsoft.Network/networkinterfaces/*","Microsoft.Network/virtualNetworks/subnets/join/action"]},"type":"Microsoft.Network/virtualNetworks/subnets/delegations"}],"purpose":"HostedWorkloads","privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/366c5f30-6a44-4943-b582-739053d12273?api-version=2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "GatewaySubnet", "properties": {"addressPrefix": "10.2.255.0/26"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/GatewaySubnet?api-version=2023-05-01
  response:
    body:
      string: '{"name":"GatewaySubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/GatewaySubnet","etag":"W/\"60bfaac5-8f76-4a28-839d-a6a1952ab9cc\"","properties":{"provisioningState":"Updating","addressPrefix":"10.2.255.0/26","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/0d2deafe-fce2-4d1b-9884-9989219a3179?api-version=2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"idleTimeoutInMinutes": 4, "publicIPAllocationMethod":
      "Dynamic"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/publicIPAddresses/testpublicIp?api-version=2022-11-01
  response:
    body:
      string: '{"name":"testpublicIp","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/publicIPAddresses/testpublicIp","etag":"W/\"ddd4a179-5704-4e22-9d4d-b13908e98631\"","location":"westus","properties":{"provisioningState":"Updating","resourceGuid":"63da3de4-f6bb-4302-b863-e49f40e974a3","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Dynamic","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Basic","tier":"Regional"}}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a1ec0c07-2ef2-4bc4-989c-26145ed921a0?api-version=2022-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"activeActive": false, "gatewayType":
      "ExpressRoute", "ipConfigurations": [{"name": "vnetGatewayConfig0", "properties":
      {"privateIPAllocationMethod": "Dynamic", "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/publicIPAddresses/testpublicIp"},
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/GatewaySubnet"}}}],
      "sku": {"name": "Standard", "tier": "Standard"}, "vpnType": "RouteBased"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworkGateways/testVnetGateway?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"testVnetGateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworkGateways/testVnetGateway\",\r\n
        \ \"etag\": \"W/\\\"e97fc685-816b-4d38-9aa1-c76069f87086\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"4a84f419-2a17-4b38-b7a5-341512a8c808\",\r\n    \"packetCaptureDiagnosticState\":
        \"None\",\r\n    \"enablePrivateIpAddress\": false,\r\n    \"isMigrateToCSES\":
        false,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"vnetGatewayConfig0\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworkGateways/testVnetGateway/ipConfigurations/vnetGatewayConfig0\",\r\n
        \       \"etag\": \"W/\\\"e97fc685-816b-4d38-9aa1-c76069f87086\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/virtualNetworkGateways/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
        {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/publicIPAddresses/testpublicIp\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/GatewaySubnet\"\r\n
        \         }\r\n        }\r\n      }\r\n    ],\r\n    \"natRules\": [],\r\n
        \   \"virtualNetworkGatewayPolicyGroups\": [],\r\n    \"enableBgpRouteTranslationForNat\":
        false,\r\n    \"disableIPSecReplayProtection\": false,\r\n    \"sku\": {\r\n
        \     \"name\": \"Standard\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\":
        2\r\n    },\r\n    \"gatewayType\": \"ExpressRoute\",\r\n    \"vpnType\":
        \"RouteBased\",\r\n    \"enableBgp\": false,\r\n    \"activeActive\": false,\r\n
        \   \"vpnClientConfiguration\": {\r\n      \"vpnClientProtocols\": [\r\n        \"OpenVPN\",\r\n
        \       \"IkeV2\"\r\n      ],\r\n      \"vpnAuthenticationTypes\": [],\r\n
        \     \"vpnClientRootCertificates\": [],\r\n      \"vpnClientRevokedCertificates\":
        [],\r\n      \"vngClientConnectionConfigurations\": [],\r\n      \"radiusServers\":
        [],\r\n      \"vpnClientIpsecPolicies\": []\r\n    },\r\n    \"vpnGatewayGeneration\":
        \"None\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/39302e3d-1e4b-4522-b768-a1499cb07768?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "SafeNet Luna Network HSM A790"},
      "tags": {"Dept": "hsm", "Environment": "dogfood"}, "properties": {"networkProfile":
      {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/hsmsubnet"},
      "networkInterfaces": [{"privateIpAddress": "10.2.1.5"}]}, "stampId": "stamp1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1?api-version=2021-11-30
  response:
    body:
      string: '{"sku":{"name":"SafeNet Luna Network HSM A790"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1","name":"hsm1","type":"Microsoft.HardwareSecurityModules/dedicatedHSMs","location":"westus","tags":{"Dept":"hsm","Environment":"dogfood"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-10-09T04:29:03.317Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-09T04:29:03.317Z"},"properties":{"networkProfile":{"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/hsmsubnet"},"networkInterfaces":[{"privateIpAddress":"10.2.1.5"}]},"provisioningState":"CheckingQuota","statusMessage":"Resource
        creation in progress. Validating subscription device quota...","stampId":"stamp1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs?api-version=2021-11-30
  response:
    body:
      string: '{"value":[{"sku":{"name":"SafeNet Luna Network HSM A790"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1","name":"hsm1","type":"Microsoft.HardwareSecurityModules/dedicatedHSMs","location":"westus","tags":{"Dept":"hsm","Environment":"dogfood"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-10-09T04:29:03.317Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-09T04:29:03.317Z"},"properties":{"networkProfile":{"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/virtualNetworks/testvnet/subnets/hsmsubnet"},"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.Network/networkInterfaces/hsm1_HSMnic","privateIpAddress":"10.2.1.5"}]},"provisioningState":"Succeeded","statusMessage":"The
        Dedicated HSM device is provisioned successfully and ready to use.","stampId":"stamp1"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"Dept": "hsm", "Environment": "dogfood", "Slice": "A"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_modules000001/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1?api-version=2021-11-30
  response:
    body:
      string: '{"sku":{"name":"SafeNet Luna Network HSM A790"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_hardware_security_[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HardwareSecurityModules/locations/westus/operationResults/MEIxRjY0NzEtMUJGMC00RERBLUFFQzMtQ0I5MjcyRjA5NTkwL0NMSV9URVNUX0hBUkRXQVJFX1NFQ1VSSVRZX01PRFVMRVNWR1RRRUlKRE40RVY0NkIzNEtGSEtORk5SRlhQNFNaWVRJNkRBU0pKQy9IU00x?api-version=2021-11-30
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HardwareSecurityModules/locations/westus/operationResults/MEIxRjY0NzEtMUJGMC00RERBLUFFQzMtQ0I5MjcyRjA5NTkwL0NMSV9URVNUX0hBUkRXQVJFX1NFQ1VSSVRZX01PRFVMRVNWR1RRRUlKRE40RVY0NkIzNEtGSEtORk5SRlhQNFNaWVRJNkRBU0pKQy9IU00x?api-version=2021-11-30
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/b7ec0dc1-6364-42dd-a49e-005c47ee5dc9?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/b7ec0dc1-6364-42dd-a49e-005c47ee5dc9?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/b7ec0dc1-6364-42dd-a49e-005c47ee5dc9?api-version=2022-01-01
    status:
      code: 204
      message: No Content
version: 1
