interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dynatrace_monitor000001?api-version=2022-09-01
  response:
    body:
      string: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001",
        "name": "cli_test_dynatrace_monitor000001", "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap", "tags": {"product": "azurecli", "cause": "automation",
        "test": "test_dynatrace_monitor", "date": "2023-09-13T16:21:30Z", "module":
        "dynatrace"}, "properties": {"provisioningState": "Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"dynatraceEnvironmentProperties":
      {"singleSignOnProperties": {"aadDomains": ["abc"]}}, "planData": {"billingCycle":
      "Monthly", "effectiveDate": "2022-08-20T00:00:00.000Z", "planDetails": "azureportalintegration_privatepreview@TIDhjdtn7tfnxcy",
      "usageType": "committed"}, "userInfo": {"country": "US", "emailAddress": "agarwald@microsoft.com",
      "firstName": "Alice", "lastName": "Bobab", "phoneNumber": "1234567890"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dynatrace_monitor000001/providers/Dynatrace.Observability/monitors/monitor000002?api-version=2021-09-01
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "SaaS Purchase Payment
        Check Failed as validationResponse was {\"isEligible\":false,\"errorMessage\":\"No
        employee profile was found in Jarvis for a7116fa1-5ab4-4582-8d17-77e64b46b349
        with GTM azure subscription :0b1f6471-1bf0-4dda-aec3-cb9272f09590\"} "}}'
    headers:
      content-type:
      - application/json
      mise-correlation-id:
      - 60009fbb-5b04-40a9-bef4-0169ded65533
      x-ms-failure-cause:
      - gateway
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 400
      message: Bad Request
version: 1
