interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001","name":"cli_test_cosmosdb_system_identity_restore000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2022-12-20T08:41:27Z","StorageType":"Standard_LRS","type":"test"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005?api-version=2022-01-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005","name":"user1-000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"eastus2","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"b3b62f72-7bc8-470f-b4be-2b4188d59e7e","clientId":"a6c082af-7b0e-469e-817e-8cc07d0087fa"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.KeyVault/vaults/clikeyvault-000007?api-version=2022-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/clikeyvault-000007''
        under resource group ''cli_test_cosmosdb_system_identity_restore000001'' was
        not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"azureclilivetest","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"azureclilivetest@azuresdkteam.onmicrosoft.com","id":"6b30bdc6-696a-46fb-82d7-739c2fb147b7"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"BL02EPF000025FB"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      90, "networkAcls": {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.KeyVault/vaults/clikeyvault-000007?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.KeyVault/vaults/clikeyvault-000007","name":"clikeyvault-000007","type":"Microsoft.KeyVault/vaults","location":"eastus2","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2022-12-20T08:41:33.068Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-12-20T08:41:33.068Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://clikeyvault-000007.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "vaultUri": "https://clikeyvault-000007.vault.azure.net/",
      "enabledForDeployment": false, "enableSoftDelete": true, "softDeleteRetentionInDays":
      90, "enablePurgeProtection": true, "provisioningState": "Succeeded", "publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.KeyVault/vaults/clikeyvault-000007?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cl[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clikeyvault-000007.vault.azure.net/keys/clikey-000008/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "key_size": 3072, "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://clikeyvault-000007.vault.azure.net/keys/clikey-000008/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://clikeyvault-000007.vault.azure.net/keys/clikey-000008/1a477fb2c71c4a118752b96cf2a20019","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qWS1ndAQflvTWcxXAgFYEpKrzM2Z_SVtNz2duwP1J5fAwfUI8r0-7odIC4_A84V16P8xWXjiOy9ljn92TpipPJ8-6YxJTYD1JRHVYJwbmcx0yH-tYZnPt4Hu5P-ajRt6OcTztbwwouOfI-jh-bJdKa6yHUBiGwKgfN2S-7qPfLOpW5YFBqJi6LzORWq1wa6db5l1fzumNzmnisvpeEmXtvpDklsSkjUeL8L8F-KVtKBmaXmWzCSCdtWiPMdHWatXHAuDPVoSVghRlIhFzk7IRR2o1qgJZGibPTJKSwVdrQu9qpVPOQ6z6XH7fZO-jQrBS2L0Pu-wFn_OyokmlspAOjQCD6Zv0i-eAEQ_5-nF1z0kZlgLS-v2_-heH4CT9X02O50LDzqQSpBYUUxnPCH673_U3wyv5ZAEwlrBvFPt3tOdPGaXl7ndfrwOOtBBi9n1eYtZJGCxD6rn7tslblAjod06AKhe0tl-2bV-chZpH5Gf8LsOe842qwrELRjRcrHd","e":"AQAB"},"attributes":{"enabled":true,"created":1671525727,"updated":1671525727,"recoveryLevel":"Recoverable","recoverableDays":90,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2", "identity": {"type": "UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005":
      {}}}, "kind": "GlobalDocumentDB", "properties": {"locations": [{"locationName":
      "eastus2", "failoverPriority": 0, "isZoneRedundant": false}], "databaseAccountOfferType":
      "Standard", "keyVaultKeyUri": "https://clikeyvault-000007.vault.azure.net/keys/clikey-000008",
      "defaultIdentity": "UserAssignedIdentity=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005",
      "apiProperties": {}, "createMode": "Default", "backupPolicy": {"type": "Continuous",
      "continuousModeProperties": {"tier": "Continuous30Days"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002?api-version=2022-08-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002","name":"cli-systemid-000002","location":"East
        US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2022-12-20T08:42:12.6304265Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"9684e4c8-8495-4952-be86-22d87d652239","createMode":"Default","databaseAccountOfferType":"Standard","enableMaterializedViews":false,"keyVaultKeyUri":"https://clikeyvault-000007.vault.azure.net/keys/clikey-000008","defaultIdentity":"UserAssignedIdentity=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005","networkAclBypass":"None","disableLocalAuth":false,"enablePartitionMerge":false,"consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli-systemid-000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli-systemid-000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli-systemid-000002-eastus2","locationName":"East
        US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli-systemid-000002-eastus2","locationName":"East
        US 2","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Continuous","continuousModeProperties":{"tier":"Continuous30Days"}},"networkAclBypassResourceIds":[],"diagnosticLogSettings":{"enableFullTextQuery":"None"},"keysMetadata":{"primaryMasterKey":{"generationTime":"2022-12-20T08:42:12.6304265Z"},"secondaryMasterKey":{"generationTime":"2022-12-20T08:42:12.6304265Z"},"primaryReadonlyMasterKey":{"generationTime":"2022-12-20T08:42:12.6304265Z"},"secondaryReadonlyMasterKey":{"generationTime":"2022-12-20T08:42:12.6304265Z"}}},"identity":{"type":"UserAssigned","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user1-000005":{}}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/97166b54-80e6-46de-94b8-7df455e54614?api-version=2022-08-15-preview
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/operationResults/97166b54-80e6-46de-94b8-7df455e54614?api-version=2022-08-15-preview
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/97166b54-80e6-46de-94b8-7df455e54614?api-version=2022-08-15-preview
  response:
    body:
      string: '{"status":"Dequeued"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002?api-version=2022-08-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002","name":"cli-systemid-000002","location":"East
        US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2022-12-20T08:44:27.5683882Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli-systemid-000002.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"9684e4c8-8495-4952-be86-22d87d652239","createMode[...]
[...]
- request:
    body: '{"properties": {"resource": {"id": "cli000004"}, "options": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004?api-version=2022-08-15
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/f0db068f-793e-4dc9-ad17-b2de64deb888?api-version=2022-08-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004/operationResults/f0db068f-793e-4dc9-ad17-b2de64deb888?api-version=2022-08-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/f0db068f-793e-4dc9-ad17-b2de64deb888?api-version=2022-08-15
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004?api-version=2022-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","name":"cli000004","properties":{"resource":{"id":"cli000004","_rid":"W-MjAA==","_self":"dbs/W-MjAA==/","_etag":"\"0000ce00-0000-0200-0000-63a176210000\"","_colls":"colls/","_users":"users/","_ts":1671525921}}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: '{"properties": {"resource": {"id": "cli000003", "indexingPolicy": {"automatic":
      true, "indexingMode": "consistent", "includedPaths": [{"path": "/*"}], "excludedPaths":
      [{"path": "/\"_etag\"/?"}]}, "partitionKey": {"paths": ["/pk"], "kind": "Hash"}},
      "options": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004/containers/cli000003?api-version=2022-08-15
  response:
    body:
      string: '{"status":"Enqueued"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/ba5a44c8-74b9-4f2e-9e62-97dd7a22a4c5?api-version=2022-08-15
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004/containers/cli000003/operationResults/ba5a44c8-74b9-4f2e-9e62-97dd7a22a4c5?api-version=2022-08-15
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004/containers/cli000003?api-version=2022-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002/sqlDatabases/cli000004/containers/cli000003","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers","name":"cli000003","properties":{"resource":{"id":"cli000003","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/\"_etag\"/?"}]},"partitionKey":{"paths":["/pk"],"kind":"Hash"},"uniqueKeyPolicy":{"uniqueKeys":[]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"/_ts","conflictResolutionProcedure":""},"backupPolicy":{"type":1},"geospatialConfig":{"type":"Geography"},"_rid":"W-MjAKiYQNo=","_ts":1671525955,"_self":"dbs/W-MjAA==/colls/W-MjAKiYQNo=/","_etag":"\"0000d100-0000-0200-0000-63a176430000\"","_docs":"docs/","_sprocs":"sprocs/","_triggers":"triggers/","_udfs":"udfs/","_conflicts":"conflicts/","statistics":[{"id":"0","sizeInKB":0,"documentCount":0,"sampledDistinctPartitionKeyCount":0,"partitionKeys":[]}]}}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002?api-version=2022-08-15
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAcco[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/9684e4c8-8495-4952-be86-22d87d652239?api-version=2022-08-15-preview
  response:
    body:
      string: '{"name":"9684e4c8-8495-4952-be86-22d87d652239","location":"East US
        2","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/9684e4c8-8495-4952-be86-22d87d652239","properties":{"accountName":"cli-systemid-000002","apiType":"Sql","creationTime":"2022-12-20T08:44:28Z","oldestRestorableTime":"2022-12-20T08:44:28Z","restorableLocations":[{"locationName":"East
        US 2","regionalDatabaseAccountInstanceId":"368e073a-eb6b-409b-b114-46ebc8217640","creationTime":"2022-12-20T08:44:29Z"}]}}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/restorableDatabaseAccounts?api-version=2022-08-15-preview
  response:
    body:
      string: '{"value":[{"name":"9684e4c8-8495-4952-be86-22d87d652239","location":"East
        US 2","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/9684e4c8-8495-4952-be86-22d87d652239","properties":{"accountName":"cli-systemid-000002","apiType":"Sql","creationTime":"2022-12-20T08:44:28Z","oldestRestorableTime":"2022-12-20T08:44:28Z","restorableLocations":[{"locationName":"East
        US 2","regionalDatabaseAccountInstanceId":"368e073a-eb6b-409b-b114-46ebc8217640","creationTime":"2022-12-20T08:44:29Z"}]}},{"name":"d1d4e4bf-5f13-4eea-9fc3-c152963549bc","location":"East
        US 2","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/d1d4e4bf-5f13-4eea-9fc3-c152963549bc","properties":{"accountName":"clizf7lb5kybbcc","apiType":"Gremlin,
        Sql","creationTime":"2022-12-20T05:11:20Z","deletionTime":"2022-12-20T05:12:38Z","oldestRestorableTime":"2022-11-20T08:52:36Z","restorableLocations":[{"locationName":"East
        US 2","regionalDatabaseAccountInstanceId":"abb77f79-39f5-4f73-ba86-524ed02d2460","creationTime":"2022-12-20T05:11:20Z","deletionTime":"2022-12-20T05:12:38Z"}]}},{"name":"2d268664-0e0c-4ebc-b181-693b0c2d6219","location":"East
        US 2","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Micr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/9684e4c8-8495-4952-be86-22d87d652239/restorableSqlResources?api-version=2022-08-15&restoreLocation=eastus2&restoreTimestampInUtc=2022-12-20%2008%3A48%3A28%2B00%3A00
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/9684e4c8-8495-4952-be86-22d87d652239/restorableSqlResources/cli000004","type":"Microsoft.DocumentDB/locations/restorableDatabaseAccounts/restorableSqlResources","name":"cli000004","databaseName":"cli000004","collectionNames":["cli000003"]}]}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.14.0
    status:
      code: 200
      message: Ok
- request:
    body: '{"location": "East US 2", "identity": {"type": "UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user2-000006":
      {}}}, "kind": "GlobalDocumentDB", "properties": {"locations": [{"locationName":
      "eastus2", "failoverPriority": 0}], "databaseAccountOfferType": "Standard",
      "defaultIdentity": "UserAssignedIdentity=/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/user2-000006",
      "apiProperties": {}, "createMode": "Restore", "restoreParameters": {"restoreSource":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus2/restorableDatabaseAccounts/9684e4c8-8495-4952-be86-22d87d652239",
      "restoreTimestampInUtc": "2022-12-20T08:48:28.000Z", "restoreMode": "PointInTime"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_restore000001/providers/Microsoft.DocumentDB/databaseAccounts/cli-systemid-000002-restored?api-version=2022-08-15-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_system_identity_re[...]
[...]
