interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001","name":"cli_test_fluid_relay000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","test":"test_fluid_relay_scenario","date":"2023-09-14T06:31:41Z","module":"fluid-relay"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1?api-version=2023-01-31
  response:
    body:
      string: '{"location":"westus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1","name":"id1","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"9d145a80-38b0-4cc6-bc33-64fc15e7e332","clientId":"099cbfd6-1c45-433d-b6fa-c203eb74cfe3"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "westus2", "properties":
      {"storagesku": "standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1","name":"testfr1","type":"microsoft.fluidrelay/fluidrelayservers","location":"westus2","systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-09-14T06:31:49.0486074Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-14T06:31:49.0486074Z"},"identity":{"principalId":"000cd534-b51f-4e48-800c-e0d405614f75","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"frsTenantId":"e6f045fe-6e2c-40a5-8e3c-ceb1fcdcd5ee","fluidRelayEndpoints":{"ordererEndpoints":[],"storageEndpoints":[],"serviceEndpoints":["https://us.fluidrelay.azure.com"]},"storagesku":"standard","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"500025fc-0000-0800-0000-6502a8d90000"'
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"category": "sales"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr1","name[...]
- request:
    body: '{"identity": {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id2":
      {}}}, "location": "westus2", "properties": {"storagesku": "standard"}, "tags":
      {"category": "sales"}}'
    headers:
      Content-Type:
      - applic[...]
[...]
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1":
      {}}}, "location": "westus2", "properties": {"encryption": {"customerManagedKeyEncryption":
      {"keyEncryptionKeyIdentity": {"identityType": "UserAssigned", "userAssignedIdentityResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1"},
      "keyEncryptionKeyUrl": "https://contosovault.vault.azure.net/keys/contosokek"}},
      "storagesku": "basic"}, "tags": {"category": "sales"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr3?api-version=2022-06-01
  response:
    body:
      string: '{"error":{"code":"","message":"Internal Server Error."}}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"2-nOO9QiTIwXgNtWtBJezz8kv3SLc"
      x-ms-failure-cause:
      - service
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1":
      {}}}, "location": "westus2", "properties": {"encryption": {"customerManagedKeyEncryption":
      {"keyEncryptionKeyIdentity": {"identityType": "UserAssigned", "userAssignedIdentityResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_fluid_relay000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id1"},
      "keyEncryptionKeyUrl": "https://contosovault.vault.azure.net/keys/contosokek"}},
      "storagesku": "basic"}, "tags": {"category": "sales"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_fluid_relay000001/providers/Microsoft.FluidRelay/fluidRelayServers/testfr3?api-version=2022-06-01
  response:
    body:
      string: '{"error":{"code":"","message":"Internal Server Error."}}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"2-nOO9QiTIwXgNtWtBJezz8kv3SLc"
      x-ms-failure-cause:
      - service
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 500
      message: Internal Server Error
version: 1
