interactions:
- request:
    body: '{"location": "westus3", "properties": {"storageAccountCount": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/adp_cli000001/providers/Microsoft.AutonomousDevelopmentPlatform/workspaces/cli000002?api-version=2022-09-01-preview
  response:
    body:
      string: '{"error":{"code":"InvalidResourceType","message":"The resource type
        could not be found in the namespace ''Microsoft.AutonomousDevelopmentPlatform''
        for api version ''2022-09-01-preview''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
