interactions:
- request:
    body: '{"location": "eastus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"sourceRegion": "eastus", "targetRegion": "westus"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest_resourcemover_collection_000001/providers/Microsoft.Migrate/moveCollections/clitest-movecollection-29?api-version=2021-08-01
  response:
    body:
      string: '{"error":{"code":"NameNotAvailable","message":"The Move collection
        name ''clitest-movecollection-29'' already exists for the given subscription.
        Please choose another name"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
