interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestserviceaccount?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestserviceaccount","name":"clitestserviceaccount","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2023-09-13T12:08:05.0334896Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T12:08:05.0334896Z"},"identity":{"principalId":"800cdb17-0e9a-4474-a99e-880a4bd190d8","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestserviceaccount-g0h8fnhndnc2a0gx.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/677fe2c5-6b17-4054-81ec-655a547e536f*53EA113DBB54D7CA1BEF66513327F55F291C743A3D73A8BECD8AAE14E9017FBA?api-version=2022-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05007be0-0000-0600-0000-6501a6260000"'
      location:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/677fe2c5-6b17-4054-81ec-655a547e536f*53EA113DBB54D7CA1BEF66513327F55F291C743A3D73A8BECD8AAE14E9017FBA?api-version=2022-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/677fe2c5-6b17-4054-81ec-655a547e536f*53EA113DBB54D7CA1BEF66513327F55F291C743A3D73A8BECD8AAE14E9017FBA?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/677fe2c5-6b17-4054-81ec-655a547e536f*53EA113DBB54D7CA1BEF66513327F55F291C743A3D73A8BECD8AAE14E9017FBA","name":"677fe2c5-6b17-4054-81ec-655a547e536f*53EA113DBB54D7CA1BEF66513327F55F291C743A3D73A8BECD8AAE14E9017FBA","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestserviceaccount","status":"Accepted","startTime":"2023-09-13T12:08:06.0697925Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5603ccc5-0000-0600-0000-6501a6260000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/677fe2c5-6b17-4054-81ec-655a547e536f*53EA113DBB54D7CA1BEF66513327F55F291C743A3D73A8BECD8AAE14E9017FBA?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/677fe2c5-6b17-4054-81ec-655a547e536f*53EA113DBB54D7CA1BEF66513327F55F291C743A3D73A8BECD8AAE14E9017FBA","name":"677fe2c5-6b17-4054-81ec-655a547e536f*53EA113DBB54D7CA1BEF66513327F55F291C743A3D73A8BECD8AAE14E9017FBA","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestserviceaccount","status":"Succeeded","startTime":"2023-09-13T12:08:06.0697925Z","endTime":"2023-09-13T12:10:46.1831028Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"56033ad4-0000-0600-0000-6501a6c60000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2022-02-23T07:41:33Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"azureclilivetest","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"azureclilivetest","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":"DisablePasswordExpiration","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2022-09-19T02:52:38Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/6b30bdc6-696a-46fb-82d7-739c2fb147b7/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"example@example.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '509548'
      ocp-aad-diagnostics-server-name:
      - F2JfuWaW6Ipd6AOGyEAJq1iRDU3ahKJ/uQM5CcA5LmE=
      ocp-aad-session-key:
      - PdT3xvwzUzVc-07GEcUDzDm6cUXaytAKvhJBCA6HVp7zyJoHRphf0R_n5qmIUecC_WgeM7x0XKcRqo6fwKxs8OUqFNxsSvjS3DeBvwh86QEtHZ6XIVwEv5huDX7KOaq9.u0Loefik16bhJmS5Ok88VyWzFM2hKd3TMsS03kbyVVc
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Built-in
        Grafana admin role","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2021-11-11T20:15:14.8104670Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
