interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "tags": {"foo": "doo"}, "location": "westeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e","name":"clitestamge2e","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westeurope","tags":{"foo":"doo"},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2023-09-13T12:02:46.0391389Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T12:02:46.0391389Z"},"identity":{"principalId":"081658e9-4401-444c-a5be-1c85cc7da5be","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamge2e-budpa9hedkfragbw.weu.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/3a29a206-3e55-4bb7-821e-d3576ad8e93f*ADC62B7521020C8D9C84CA1DE87CB6ABCB7BC12A2B6667A6F734FA8D16E75DAC?api-version=2022-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3d009d31-0000-0d00-0000-6501a4e80000"'
      location:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/3a29a206-3e55-4bb7-821e-d3576ad8e93f*ADC62B7521020C8D9C84CA1DE87CB6ABCB7BC12A2B6667A6F734FA8D16E75DAC?api-version=2022-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/3a29a206-3e55-4bb7-821e-d3576ad8e93f*ADC62B7521020C8D9C84CA1DE87CB6ABCB7BC12A2B6667A6F734FA8D16E75DAC?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/3a29a206-3e55-4bb7-821e-d3576ad8e93f*ADC62B7521020C8D9C84CA1DE87CB6ABCB7BC12A2B6667A6F734FA8D16E75DAC","name":"3a29a206-3e55-4bb7-821e-d3576ad8e93f*ADC62B7521020C8D9C84CA1DE87CB6ABCB7BC12A2B6667A6F734FA8D16E75DAC","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e","status":"Accepted","startTime":"2023-09-13T12:02:48.5618121Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"03005c78-0000-0d00-0000-6501a4e80000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/3a29a206-3e55-4bb7-821e-d3576ad8e93f*ADC62B7521020C8D9C84CA1DE87CB6ABCB7BC12A2B6667A6F734FA8D16E75DAC?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTEUROPE/operationStatuses/3a29a206-3e55-4bb7-821e-d3576ad8e93f*ADC62B7521020C8D9C84CA1DE87CB6ABCB7BC12A2B6667A6F734FA8D16E75DAC","name":"3a29a206-3e55-4bb7-821e-d3576ad8e93f*ADC62B7521020C8D9C84CA1DE87CB6ABCB7BC12A2B6667A6F734FA8D16E75DAC","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamge2e","status":"Succeeded","startTime":"2023-09-13T12:02:48.5618121Z","endTime":"2023-09-13T12:05:37.773958Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"03009478-0000-0d00-0000-6501a5910000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2022-02-23T07:41:33Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"azureclilivetest","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"azureclilivetest","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":"DisablePasswordExpiration","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2022-09-19T02:52:38Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/6b30bdc6-696a-46fb-82d7-739c2fb147b7/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"example@example.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '515132'
      ocp-aad-diagnostics-server-name:
      - u+mQoRO3b6AVkmhQHeMZr+up8Ksokp+6TQcMm0XZI84=
      ocp-aad-session-key:
      - mXivuf0_6LMPPAvL3NR4lOfFit5M6oMysacB8928PKhSqxWUYOU0UozadTqW-bzdOoDpwLoLkNUVcAyUOmcSzwnSOSN5luswHSIcRM1x0PhuWVSP517pxs2UqPjzJ1gA.R2toz03ng_cRu27qIbbw7EJ9L6WOoQvkEhIYjJlV2Q0
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Built-in
        Grafana admin role","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2021-11-11T20:15:14.8104670Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
