interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "tags": {"foo": "doo"}, "location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2","name":"clitestamg2","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{"foo":"doo"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-09-13T11:52:55.618904Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T11:52:55.618904Z"},"identity":{"principalId":"cd04a0e1-5a11-453b-90ed-16a61763dfd9","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamg2-gud2gcgtg7evfccx.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/d234faa8-9ca7-4d54-9505-f9d221b5db2c*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4?api-version=2022-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0500fbdd-0000-0600-0000-6501a2990000"'
      location:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/d234faa8-9ca7-4d54-9505-f9d221b5db2c*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4?api-version=2022-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/d234faa8-9ca7-4d54-9505-f9d221b5db2c*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/d234faa8-9ca7-4d54-9505-f9d221b5db2c*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4","name":"d234faa8-9ca7-4d54-9505-f9d221b5db2c*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2","status":"Accepted","startTime":"2023-09-13T11:52:56.9817228Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5603b46f-0000-0600-0000-6501a2980000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/d234faa8-9ca7-4d54-9505-f9d221b5db2c*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/d234faa8-9ca7-4d54-9505-f9d221b5db2c*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4","name":"d234faa8-9ca7-4d54-9505-f9d221b5db2c*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2","status":"Succeeded","startTime":"2023-09-13T11:52:56.9817228Z","endTime":"2023-09-13T11:54:46.8816264Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"56035d79-0000-0600-0000-6501a3060000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana?api-version=2022-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2","name":"clitestamg2","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{"foo":"doo"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-09-13T11:52:55.618904Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T11:52:55.618904Z"},"identity":{"principalId":"cd04a0e1-5a11-453b-90ed-16a61763dfd9","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"provisioningState":"Succeeded","grafanaVersion":"9.5.8","endpoint":"https://clitestamg2-gud2gcgtg7evfccx.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"grafanaConfigurations":{"smtp":{"enabled":false}}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 50e2531e-b6a0-48f7-949b-36dab6063040
      - 53b8100d-2510-4887-b18e-920887b39400
      - a94375c5-c099-4249-926a-ed6b2c32e859
      - d1041675-734d-4c29-8c68-c9d771a10957
      - aa13b840-2192-49ce-96cf-e223710e75d9
      - 2d23dc7d-8180-49e9-a74f-e11627d9e698
      - 10059d2b-267c-4f00-9e8d-f8eb4772973c
      - e20ce5a3-934a-46d3-abb8-636e27eed855
      - c0dd9c1a-ff27-4838-8fed-0653fb892ad8
      - f57657b0-e247-43ee-8faf-acea2fdb7626
      - cf4a36f9-e4ce-4169-8109-f9803438daf6
      - 4198a20e-cfac-445c-9ef6-218064c30dbd
      - bd36e1f2-3db9-4f89-803c-a92304c5d338
      - ffa390b5-e0da-4157-9bea-70fa8b7b1721
      - f4ca4942-8f64-4ae8-b03c-99462a21ac77
      - e1cb5fc0-1dba-49d2-9ea4-41122993b586
      - 6784f333-6626-4306-a3f1-0064c445ac1f
      - 8ab0da92-6c28-45ec-bcc8-a6195bbab8b3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard/grafana?api-version=2022-10-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amgztjtifbw5ekqkbbfuoej4ch2q3uhgqwaprub44geztafgeopd77s54k6vlttpuo/providers/Microsoft.Dashboard/grafana/clitestbackup","name":"clitestbackup","type":"micros[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/f135d1b7-5608-413f-b5f5-8c4f605b6415*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/f135d1b7-5608-413f-b5f5-8c4f605b6415*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4","name":"f135d1b7-5608-413f-b5f5-8c4f605b6415*2C795E5B0E045A9B03029F40D45A9B53DDF8A642480272CF4CFF367B7D219AB4","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamg2","status":"Succeeded","startTime":"2023-09-13T11:55:08.1236475Z","properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"56031ba5-0000-0600-0000-6501a4e00000"'
    status:
      code: 200
      message: OK
version: 1
