interactions:
- request:
    body: '{"sku": {"name": "Standard"}, "properties": {}, "identity": {"type": "SystemAssigned"},
      "location": "westcentralus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey","name":"clitestamgapikey","type":"microsoft.dashboard/grafana","sku":{"name":"Standard"},"location":"westcentralus","tags":{},"systemData":{"createdBy":"example@example.com","createdByType":"User","createdAt":"2023-09-13T12:05:57.2130392Z","lastModifiedBy":"example@example.com","lastModifiedByType":"User","lastModifiedAt":"2023-09-13T12:05:57.2130392Z"},"identity":{"principalId":"2b4ed9d4-926d-4879-9207-0fcf0d174043","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"provisioningState":"Accepted","grafanaVersion":null,"endpoint":"https://clitestamgapikey-dhdhcma2czcserbg.wcus.grafana.azure.com","zoneRedundancy":"Disabled","publicNetworkAccess":"Enabled","privateEndpointConnections":null,"autoGeneratedDomainNameLabelScope":"TenantReuse","apiKey":"Disabled","deterministicOutboundIP":"Disabled","outboundIPs":null,"grafanaIntegrations":{"azureMonitorWorkspaceIntegrations":[]},"enterpriseConfigurations":null,"grafanaConfigurations":{"smtp":{"enabled":false}},"grafanaPlugins":null}}'
    headers:
      api-supported-versions:
      - 2021-09-01-preview, 2022-05-01-preview, 2022-08-01, 2022-10-01-preview
      azure-asyncoperation:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/54972785-6b9e-4883-9e04-62ee737b7856*05093D0F2C7050944AD314D560D37CD481F5EA61E0FD39C623F55A78276906F4?api-version=2022-10-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05004ae0-0000-0600-0000-6501a5a60000"'
      location:
      - https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/54972785-6b9e-4883-9e04-62ee737b7856*05093D0F2C7050944AD314D560D37CD481F5EA61E0FD39C623F55A78276906F4?api-version=2022-10-01-preview
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/54972785-6b9e-4883-9e04-62ee737b7856*05093D0F2C7050944AD314D560D37CD481F5EA61E0FD39C623F55A78276906F4?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/54972785-6b9e-4883-9e04-62ee737b7856*05093D0F2C7050944AD314D560D37CD481F5EA61E0FD39C623F55A78276906F4","name":"54972785-6b9e-4883-9e04-62ee737b7856*05093D0F2C7050944AD314D560D37CD481F5EA61E0FD39C623F55A78276906F4","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey","status":"Accepted","startTime":"2023-09-13T12:05:58.4453044Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5603bcb9-0000-0600-0000-6501a5a60000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/54972785-6b9e-4883-9e04-62ee737b7856*05093D0F2C7050944AD314D560D37CD481F5EA61E0FD39C623F55A78276906F4?api-version=2022-10-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Dashboard/locations/WESTCENTRALUS/operationStatuses/54972785-6b9e-4883-9e04-62ee737b7856*05093D0F2C7050944AD314D560D37CD481F5EA61E0FD39C623F55A78276906F4","name":"54972785-6b9e-4883-9e04-62ee737b7856*05093D0F2C7050944AD314D560D37CD481F5EA61E0FD39C623F55A78276906F4","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_amg000001/providers/Microsoft.Dashboard/grafana/clitestamgapikey","status":"Succeeded","startTime":"2023-09-13T12:05:58.4453044Z","endTime":"2023-09-13T12:07:45.489647Z","error":{},"properties":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5603c6c3-0000-0600-0000-6501a6110000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2022-02-23T07:41:33Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"azureclilivetest","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"azureclilivetest","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":"DisablePasswordExpiration","passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":null,"provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2022-09-19T02:52:38Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/6b30bdc6-696a-46fb-82d7-739c2fb147b7/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"example@example.com","userState":null,"userStateChangedOn":null,"userType":"Member"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '592938'
      ocp-aad-diagnostics-server-name:
      - ofllibJ8WkN4Vuo8AKunXeyTWc34nAQRYis31RMuN90=
      ocp-aad-session-key:
      - KJdSZ0Jdj9aL1nQkmOqqMbmtM0PfMyyOtRuVSKljtLdUpLFWJccpunZX3Bw6McttQQF9oKuqvA2ABxwt9uFkTI2q226b8LYDz3lRJxpFS8TT3EKLV1MfxC-z6S6QylUa.FjHr4Z_e15tDtZKINBCQyuam43l3R8O9UrKZ8estCFk
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Grafana%20Admin%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Grafana Admin","type":"BuiltInRole","description":"Built-in
        Grafana admin role","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.Dashboard/grafana/ActAsGrafanaAdmin/action"],"notDataActions":[]}],"createdOn":"2021-07-15T21:32:35.3802340Z","updatedOn":"2021-11-11T20:15:14.8104670Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/22926164-76b3-42b3-bc55-97df8dab3e41","type":"Microsoft.Authorization/roleDefinitions","name":"22926164-76b3-42b3-bc55-97df8dab3e41"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
