interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_voice_service_gateway000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001","name":"cli_test_voice_service_gateway000001","type":"Microsoft.Resources/resourceGroups","location":"centraluseuap","tags":{"product":"azurecli","cause":"automation","test":"test_voice_service_gateway","date":"2023-10-09T23:10:40Z","module":"voice-service"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "properties": {"autoGeneratedDomainNameLabelScope":
      "TenantReuse", "codecs": ["PCMA"], "connectivity": "PublicAddress", "e911Type":
      "Standard", "emergencyDialStrings": ["911", "933"], "onPremMcpEnabled": false,
      "platforms": ["OperatorConnect"], "serviceLocations": [{"name": "useast", "primaryRegionProperties":
      {"allowedMediaSourceAddressPrefixes": ["10.1.2.0/24"], "allowedSignalingSourceAddressPrefixes":
      ["10.1.1.0/24"], "operatorAddresses": ["198.51.100.1"]}}, {"name": "useast2",
      "primaryRegionProperties": {"allowedMediaSourceAddressPrefixes": ["10.2.2.0/24"],
      "allowedSignalingSourceAddressPrefixes": ["10.2.1.0/24"], "operatorAddresses":
      ["198.51.100.2"]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_voice_service_gateway000001/providers/Microsoft.VoiceServices/communicationsGateways/gateway000002?api-version=2023-01-31
  response:
    body:
      string: '{"error":{"code":"LocationNotAvailableForResourceType","message":"The
        provided location ''centraluseuap'' is not available for resource type ''Microsoft.VoiceServices/CommunicationsGateways''.
        List of available regions for the resource type is ''westcentralus,eastus2euap''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 400
      message: Bad Request
version: 1
