interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_file_system","date":"2023-10-09T02:54:51Z","module":"qumulo"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["20.0.0.0/24"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnet000002?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnet000002\",\r\n
        \ \"etag\": \"W/\\\"c6423142-be2f-4014-a7a7-a54e0240792b\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"1ea11779-11d5-4d87-a634-0bcc4a9dc60f\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"20.0.0.0/24\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/1cfb328d-1897-4755-b5e2-531523aee145?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/1cfb328d-1897-4755-b5e2-531523aee145?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "subnet000003", "properties": {"addressPrefix": "20.0.0.0/24",
      "delegations": [{"name": "0", "properties": {"serviceName": "Qumulo.Storage/fileSystems"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnet000002/subnets/subnet000003?api-version=2023-05-01
  response:
    body:
      string: '{"name":"subnet000003","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnet000002/subnets/subnet000003","etag":"W/\"daa0c57e-c841-40b5-bf60-fd19e2a9ca14\"","properties":{"provisioningState":"Updating","addressPrefix":"20.0.0.0/24","delegations":[{"name":"0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnet000002/subnets/subnet000003/delegations/0","etag":"W/\"daa0c57e-c841-40b5-bf60-fd19e2a9ca14\"","properties":{"provisioningState":"Succeeded","serviceName":"Qumulo.Storage/fileSystems","actions":["Microsoft.Network/virtualNetworks/subnets/join/action"]},"type":"Microsoft.Network/virtualNetworks/subnets/delegations"}],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/97779c84-2b5b-4d16-80eb-72d670ddf201?api-version=2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "properties": {"adminPassword": "Password01!", "availabilityZone":
      "1", "delegatedSubnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnet000002/subnets/subnet000003",
      "initialCapacity": 50, "marketplaceDetails": {"offerId": "qumulo-saas-mpp",
      "planId": "qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M", "publisherId": "qumulo1584033880660"},
      "storageSku": "Standard", "userDetails": {"email": "azureclilivetest@azuresdkteam.onmicrosoft.com"}},
      "tags": {"tag": "test"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Qumulo.Storage/fileSystems/sys000004?api-version=2022-10-12
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Qumulo.Storage/fileSystems/sys000004","name":"sys000004","type":"qumulo.storage/filesystems","location":"eastus","tags":{"tag":"test"},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-10-09T02:55:06.0361107Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-09T02:55:06.0361107Z"},"properties":{"marketplaceDetails":{"marketplaceSubscriptionId":null,"planId":"qumulo-on-azure-v1%%gmz7xq9ge3py%%P1M","offerId":"qumulo-saas-mpp","publisherId":"qumulo1584033880660","marketplaceSubscriptionStatus":"PendingFulfillmentStart"},"provisioningState":"Accepted","userDetails":{},"delegatedSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vnet000002/subnets/subnet000003","clusterLoginUrl":null,"privateIPs":null,"storageSku":"Standard","initialCapacity":50,"availabilityZone":"1"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS/operationStatuses/6a4d1455-5fb0-4573-8b64-4b4c6fb8c142*6EC0BB2CBAC7D25E8A78DD0B4A130AFF50BF4AD5AC113E0A707BB3B7C9A2445D?api-version=2022-10-12
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1005a5ce-0000-0100-0000-65236b8c0000"'
      location:
      - https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS/operationStatuses/6a4d1455-5fb0-4573-8b64-4b4c6fb8c142*6EC0BB2CBAC7D25E8A78DD0B4A130AFF50BF4AD5AC113E0A707BB3B7C9A2445D?api-version=2022-10-12
      mise-correlation-id:
      - d0b51cb9-8f36-4479-ba42-b71f25053d30
      x-ms-providerhub-traffic:
      - 'True'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS/operationStatuses/6a4d1455-5fb0-4573-8b64-4b4c6fb8c142*6EC0BB2CBAC7D25E8A78DD0B4A130AFF50BF4AD5AC113E0A707BB3B7C9A2445D?api-version=2022-10-12
  response:
    body:
      string: '{"id":"/providers/Qumulo.Storage/locations/EASTUS/operationStatuses/6a4d1455-5fb0-4573-8b64-4b4c6fb8c142*6EC0BB2CBAC7D25E8A78DD0B4A130AFF50BF4AD5AC113E0A707BB3B7C9A2445D","name":"6a4d1455-5fb0-4573-8b64-4b4c6fb8c142*6EC0BB2CBAC7D25E8A78DD0B4A130AFF50BF4AD5AC113E0A707BB3B7C9A2445D","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Qumulo.Storage/fileSystems/sys000004","status":"Accepted","startTime":"2023-10-09T02:55:07.8549842Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3b01c70e-0000-0100-0000-65236b8b0000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Qumulo.Storage/locations/EASTUS/operationStatuses/6a4d1455-5fb0-4573-8b64-4b4c6fb8c142*6EC0BB2CBAC7D25E8A78DD0B4A130AFF50BF4AD5AC113E0A707BB3B7C9A2445D?api-version=2022-10-12
  response:
    body:
      string: '{"id":"/providers/Qumulo.Storage/locations/EASTUS/operationStatuses/6a4d1455-5fb0-4573-8b64-4b4c6fb8c142*6EC0BB2CBAC7D25E8A78DD0B4A130AFF50BF4AD5AC113E0A707BB3B7C9A2445D","name":"6a4d1455-5fb0-4573-8b64-4b4c6fb8c142*6EC0BB2CBAC7D25E8A78DD0B4A130AFF50BF4AD5AC113E0A707BB3B7C9A2445D","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Qumulo.Storage/fileSystems/sys000004","status":"Failed","startTime":"2023-10-09T02:55:07.8549842Z","endTime":"2023-10-09T02:57:15.3879041Z","error":{"message":"Request
        failed for SAAS operation.Request Uri: https://main.prod.marketplacesaas.azure.com/api/resources/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/sys000004-3?api-version=2018-08-31.\nRequest
        Method: PUT.\nResponse StatusCode: BadRequest.\nResponse Content: {\"error\":{\"code\":\"BadRequest\",\"message\":\"The
        operation cannot be completed due to the following error: No employee profile
        was found in Jarvis for a7116fa1-5ab4-4582-8d17-77e64b46b349 with GTM azure
        subscription :0b1f6471-1bf0-4dda-aec3-cb9272f09590\"}}\n"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3b01960f-0000-0100-0000-65236c0b0000"'
    status:
      code: 200
      message: OK
version: 1
