interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_databricks_v2000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001","name":"cli_test_databricks_v2000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_databricks_v2","date":"2023-10-09T04:02:52Z","module":"databricks"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/networkSecurityGroups/nsg000007?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"nsg000007\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/networkSecurityGroups/nsg000007\",\r\n
        \ \"etag\": \"W/\\\"23e260bc-5353-49ab-b40a-e90b6202544a\\\"\",\r\n  \"type\":
        \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"cf3fbafa-8d3d-4235-ac07-dd26bb129487\",\r\n    \"securityRules\": [],\r\n
        \   \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/networkSecurityGroups/nsg000007/defaultSecurityRules/AllowVnetInBound\",\r\n
        \       \"etag\": \"W/\\\"23e260bc-5353-49ab-b40a-e90b6202544a\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n
        \         \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n
        \         \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\":
        \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n
        \         \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\":
        \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\":
        [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\":
        []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/networkSecurityGroups/nsg000007/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n
        \       \"etag\": \"W/\\\"23e260bc-5353-49ab-b40a-e90b6202544a\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurityGroups/de[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/660274d2-3cec-4fe8-979e-29ce9aeb8f90?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/virtualNetworks/vnet000003?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet000003\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/virtualNetworks/vnet000003\",\r\n
        \ \"etag\": \"W/\\\"25471847-32fe-4410-a60e-4d4b0b556b6e\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"429e7ee2-40af-4176-bdb7-9238f1a6004a\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/34d2b358-d6cb-408e-81e3-c9f701e21d8e?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "private-subnet", "properties": {"addressPrefix": "10.0.1.0/24",
      "delegations": [{"name": "0", "properties": {"serviceName": "Microsoft.Databricks/workspaces"}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/networkSecurityGroups/nsg000007"},
      "privateEndpointNetworkPolicies": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/virtualNetworks/vnet000003/subnets/private-subnet?api-version=2023-05-01
  response:
    body:
      string: '{"name":"private-subnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/virtualNetworks/vnet000003/subnets/private-subnet","etag":"W/\"694ec894-bf12-4820-9f5c-f7dcc4850618\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.1.0/24","networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/networkSecurityGroups/nsg000007"},"delegations":[{"name":"0","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/virtualNetworks/vnet000003/subnets/private-subnet/delegations/0","etag":"W/\"694ec894-bf12-4820-9f5c-f7dcc4850618\"","properties":{"provisioningState":"Succeeded","serviceName":"Microsoft.Databricks/workspaces","actions":["Microsoft.Network/virtualNetworks/subnets/join/action","Microsoft.Network/virtualNetworks/subnets/prepareNetworkPolicies/action","Microsoft.Network/virtualNetworks/subnets/unprepareNetworkPolicies/action"]},"type":"Microsoft.Network/virtualNetworks/subnets/delegations"}],"privateEndpointNetworkPolicies":"Enabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/e5b2e481-ea9e-4420-ad6e-b1fabda8441e?api-version=2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"name": "public-subnet", "properties": {"addressPrefix": "10.0.64.0/24",
      "delegations": [{"name": "0", "properties": {"serviceName": "Microsoft.Databricks/workspaces"}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/networkSecurityGroups/nsg000007"},
      "privateEndpointNetworkPolicies": "Enabled"}}'
    headers:
      Content-Type:
      - applicati[...]
[...]
- request:
    body: '{"name": "subnet000005", "properties": {"addressPrefix": "10.0.32.0/24",
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/networkSecurityGroups/nsg000007"},
      "privateEndpointNetworkPolicies": "Disabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-0000[...]
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"managedResourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/databricks-rg-wn000002-bci4b6tgkx3pw",
      "parameters": {"customPrivateSubnetName": {"value": "private-subnet"}, "customPublicSubnetName":
      {"value": "public-subnet"}, "customVirtualNetworkId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/virtualNetworks/vnet000003"}}},
      "sku": {"name": "premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002?api-version=2023-02-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"managedResourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/databricks-rg-wn000002-bci4b6tgkx3pw\",\r\n
        \   \"provisioningState\": \"Accepted\",\r\n    \"authorizations\": [\r\n
        \     {\r\n        \"principalId\": \"9a74af6f-d153-4348-988a-e2672920bee9\",\r\n
        \       \"roleDefinitionId\": \"8e3af657-a8ff-443c-a75c-2fe8c4bcb635\"\r\n
        \     }\r\n    ],\r\n    \"createdBy\": {\r\n      \"oid\": \"6b30bdc6-696a-46fb-82d7-739c2fb147b7\",\r\n
        \     \"puid\": \"10032001DE188A0E\",\r\n      \"applicationId\": \"04b07795-8ddb-461a-bbee-02f9e1bf7b46\"\r\n
        \   },\r\n    \"updatedBy\": {\r\n      \"oid\": \"6b30bdc6-696a-46fb-82d7-739c2fb147b7\",\r\n
        \     \"puid\": \"10032001DE188A0E\",\r\n      \"applicationId\": \"04b07795-8ddb-461a-bbee-02f9e1bf7b46\"\r\n
        \   },\r\n    \"createdDateTime\": \"2023-10-09T04:03:39.8575693Z\"\r\n  },\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002\",\r\n
        \ \"name\": \"wn000002\",\r\n  \"type\": \"Microsoft.Databricks/workspaces\",\r\n
        \ \"sku\": {\r\n    \"name\": \"premium\"\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/locations/eastus2euap/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaV90ZXN0X2RhdGFicmlja3NfdjI0cXZ1dXFuNms1NnRidXIzZ2k1cm82b2dzdnkzcmVxYTd3dHR4N2hjamE3a241cGV6YmhsaC9wcm92aWRlc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002?api-version=2023-02-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"managedResourceGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/databricks-rg-wn000002-bci4b6tgkx3pw\",\r\n
        \   \"parameters\": {\r\n      \"customPrivateSubnetName\": {\r\n        \"type\":
        \"String\",\r\n        \"value\": \"private-subnet\"\r\n      },\r\n      \"customPublicSubnetName\":
        {\r\n        \"type\": \"String\",\r\n        \"value\": \"public-subnet\"\r\n
        \     },\r\n      \"customVirtualNetworkId\": {\r\n        \"type\": \"String\",\r\n
        \       \"value\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/virtualNetworks/vnet000003\"\r\n
        \     },\r\n      \"enableFedRampCertification\": {\r\n        \"type\": \"Bool\",\r\n
        \       \"value\": false\r\n      },\r\n      \"enableNoPublicIp\": {\r\n
        \       \"type\": \"Bool\",\r\n        \"value\": false\r\n      },\r\n      \"prepareEncryption\":
        {\r\n        \"type\": \"Bool\",\r\n        \"value\": false\r\n      },\r\n
        \     \"publicIpName\": {\r\n        \"type\": \"String\",\r\n        \"value\":
        \"nat-gw-public-ip\"\r\n      },\r\n      \"requireInfrastructureEncryption\":
        {\r\n        \"type\": \"Bool\",\r\n        \"value\": false\r\n      },\r\n
        \     \"resourceTags\": {\r\n        \"type\": \"Object\",\r\n        \"value\":
        {\r\n          \"application\": \"databricks\",\r\n          \"databricks-environment\":
        \"true\"\r\n        }\r\n      },\r\n      \"storageAccountName\": {\r\n        \"type\":
        \"String\",\r\n        \"value\": \"dbstorageey2we6rzofs5q\"\r\n      },\r\n
        \     \"storageAccountSkuName\": {\r\n        \"type\": \"String\",\r\n        \"value\":
        \"Standard_GRS\"\r\n      },\r\n      \"vnetAddressPrefix\": {\r\n        \"type\":
        \"String\",\r\n        \"value\": \"10.139\"\r\n      }\r\n    },\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\":
        \"9a74af6f-d153-4348-988a-e2672920bee9\",\r\n        \"roleDefinitionId\":
        \"8e3af657-a8ff-443c-a75c-2fe8c4bcb635\"\r\n      }\r\n    ],\r\n    \"createdBy\":
        {\r\n      \"oid\": \"6b30bdc6-696a-46fb-82d7-739c2fb147b7\",\r\n      \"puid\":
        \"10032001DE188A0E\",\r\n      \"applicationId\": \"04b07795-8ddb-461a-bbee-02f9e1bf7b46\"\r\n
        \   },\r\n    \"updatedBy\": {\r\n      \"oid\": \"6b30bdc6-696a-46fb-82d7-739c2fb147b7\",\r\n
        \     \"puid\": \"10032001DE188A0E\",\r\n      \"applicationId\": \"04b07795-8ddb-461a-bbee-02f9e1bf7b46\"\r\n
        \   },\r\n    \"workspaceId\": \"2084969217471467\",\r\n    \"workspaceUrl\":
        \"adb-2084969217471467.7.azuredatabricks.net\",\r\n    \"createdDateTime\":
        \"2023-10-09T04:03:39.8575693Z\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002\",\r\n
        \ \"name\": \"wn000002\",\r\n  \"type\": \"Microsoft.Databricks/workspaces\",\r\n
        \ \"sku\": {\r\n    \"name\": \"premium\"\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/privateLinkResources?api-version=2023-02-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/privateLinkResources/databricks_ui_api\",\r\n
        \     \"name\": \"databricks_ui_api\",\r\n      \"type\": \"Microsoft.Databricks/workspaces/privateLinkResources\",\r\n
        \     \"properties\": {\r\n        \"groupId\": \"databricks_ui_api\",\r\n
        \       \"displayName\": \"databricks_ui_api\",\r\n        \"requiredMembers\":
        [\r\n          \"databricks_ui_api\"\r\n        ],\r\n        \"requiredZoneNames\":
        [\r\n          \"privatelink.azuredatabricks.net\"\r\n        ]\r\n      }\r\n
        \   },\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/privateLinkResources/browser_authentication\",\r\n
        \     \"name\": \"browser_authentication\",\r\n      \"type\": \"Microsoft.Databricks/workspaces/privateLinkResources\",\r\n
        \     \"properties\": {\r\n        \"groupId\": \"browser_authentication\",\r\n
        \       \"displayName\": \"browser_authentication\",\r\n        \"requiredMembers\":
        [\r\n          \"eastus2euap\"\r\n        ],\r\n        \"requiredZoneNames\":
        [\r\n          \"privatelink.azuredatabricks.net\"\r\n        ]\r\n      }\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/privateLinkResources/databricks_ui_api?api-version=2023-02-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/privateLinkResources/databricks_ui_api\",\r\n
        \ \"name\": \"databricks_ui_api\",\r\n  \"type\": \"Microsoft.Databricks/workspaces/privateLinkResources\",\r\n
        \ \"properties\": {\r\n    \"groupId\": \"databricks_ui_api\",\r\n    \"displayName\":
        \"databricks_ui_api\",\r\n    \"requiredMembers\": [\r\n      \"databricks_ui_api\"\r\n
        \   ],\r\n    \"requiredZoneNames\": [\r\n      \"privatelink.azuredatabricks.net\"\r\n
        \   ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"privateLinkServiceConnections":
      [{"name": "npe000006", "properties": {"groupIds": ["databricks_ui_api"], "privateLinkServiceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002"}}],
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/virtualNetworks/vnet000003/subnets/subnet000005"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/privateEndpoints/npe000006?api-version=2022-01-01
  response:
    body:
      s[...]
[...]
- request:
    body: '{"properties": {"privateLinkServiceConnectionState": {"description": "Rejected
      by databricksadmin@contoso.com", "status": "Rejected"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/privateEndpointConnections/npe000006?api-version=2023-02-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/privateEndpointConnections/npe000006\",\r\n
        \ \"name\": \"npe000006\",\r\n  \"type\": \"Microsoft.Databricks/workspaces/privateEndpointConnections\",\r\n
        \ \"properties\": {\r\n    \"privateEndpoint\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/privateEndpoints/npe000006\"\r\n
        \   },\r\n    \"groupIds\": [\r\n      \"databricks_ui_api\"\r\n    ],\r\n
        \   \"privateLinkServiceConnectionState\": {\r\n      \"status\": \"Approved\",\r\n
        \     \"description\": \"Auto-approved\",\r\n      \"actionsRequired\": \"None\"\r\n
        \   },\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/locations/eastus2euap/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaV90ZXN0X2RhdGFicmlja3NfdjI0cXZ1dXFuNms[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/locations/eastus2euap/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaV90ZXN0X2RhdGFicmlja3NfdjI0cXZ1dXFuNms1NnRidXIzZ2k1cm82b2dzdnkzcmVxYTd3dHR4N2hjamE3a241cGV6YmhsaC9wcm92aWRlc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/privateEndpointConnections?api-version=2023-02-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/privateEndpointConnections/npe000006\",\r\n
        \     \"name\": \"npe000006\",\r\n      \"type\": \"Microsoft.Databricks/workspaces/privateEndpointConnections\",\r\n
        \     \"properties\": {\r\n        \"privateEndpoint\": {\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Network/privateEndpoints/npe000006\"\r\n
        \       },\r\n        \"groupIds\": [\r\n          \"databricks_ui_api\"\r\n
        \       ],\r\n        \"privateLinkServiceConnectionState\": {\r\n          \"status\":
        \"Rejected\",\r\n          \"description\": \"Rejected by databricksadmin@contoso.com\",\r\n
        \         \"actionsRequired\": \"None\"\r\n        },\r\n        \"provisioningState\":
        \"Succeeded\"\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/locations/eastus2euap/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL2NsaV90ZXN0X2RhdGFicmlja3NfdjI0cXZ1dXFuNms1NnRidXIzZ2k1cm82b2dzdnkzcmVxYTd3dHR4N2hjamE3a241cGV6YmhsaC9wcm92aWRlc[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/outboundNetworkDependenciesEndpoints?api-version=2023-02-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"InternalServerError\",\r\n    \"message\":
        \"The requested template file 'S:\\\\SvcFab\\\\_App\\\\Providers.ServiceFabricType_App0\\\\Providers.ServiceFabric.FeatureRolePkg.Code.1.0.02471.1420\\\\.\\\\DatabricksTemplates\\\\Production\\\\eastus2euap\\\\outboundnetworkendpoints.json'
        does not exist\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_databricks_v2000001/providers/Microsoft.Databricks/workspaces/wn000002/outboundNetworkDependenciesEndpoints?api-version=2023-02-01
  response:
    body:
      string: "{\r\n  \"error\": {\r\n    \"code\": \"InternalServerError\",\r\n    \"message\":
        \"The requested template file 'S:\\\\SvcFab\\\\_App\\\\Providers.ServiceFabricType_App0\\\\Providers.ServiceFabric.FeatureRolePkg.Code.1.0.02471.1420\\\\.\\\\DatabricksTemplates\\\\Production\\\\eastus2euap\\\\outboundnetworkendpoints.json'
        does not exist\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - service
    status:
      code: 500
      message: Internal Server Error
version: 1
