interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000002?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002","name":"clitest000002","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_ad_Scenario","date":"2023-10-09T03:30:30Z","module":"ad"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/networkSecurityGroups/aadds-nsg-test?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"aadds-nsg-test\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/networkSecurityGroups/aadds-nsg-test\",\r\n
        \ \"etag\": \"W/\\\"3d03e891-9035-4d40-ace3-edd93f24bc12\\\"\",\r\n  \"type\":
        \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"2afe0d5f-41c3-468a-ab5e-2cd7d44e452a\",\r\n    \"securityRules\": [],\r\n
        \   \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/networkSecurityGroups/aadds-nsg-test/defaultSecurityRules/AllowVnetInBound\",\r\n
        \       \"etag\": \"W/\\\"3d03e891-9035-4d40-ace3-edd93f24bc12\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n
        \         \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n
        \         \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\":
        \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n
        \         \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\":
        \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\":
        [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\":
        []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/networkSecurityGroups/aadds-nsg-test/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n
        \       \"etag\": \"W/\\\"3d03e891-9035-4d40-ace3-edd93f24bc12\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecur[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/f4c4a839-fd7b-40dd-9fa9-10bf826e3c56?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "AllowPSRemoting", "properties": {"access": "Allow", "destinationAddressPrefix":
      "*", "destinationPortRange": "5986", "direction": "Inbound", "priority": 301,
      "protocol": "Tcp", "sourceAddressPrefix": "AzureActiveDirectoryDomainServices",
      "sourcePortRange": "*"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest0[...]
[...]
- request:
    body: '{"name": "AllowRD", "properties": {"access": "Allow", "destinationAddressPrefix":
      "*", "destinationPortRange": "3389", "direction": "Inbound", "priority": 201,
      "protocol": "Tcp", "sourceAddressPrefix": "CorpNetSaw", "sourcePortRange": "*"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/netw[...]
[...]
- request:
    body: '{"location": "westus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false,
      "subnets": [{"name": "default", "properties": {"addressPrefix": "10.0.0.0/24",
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/networkSecurityGroups/aadds-nsg-test"}}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/virtualNetworks/vnet1?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vnet1\",\r\n  \"[...]
[...]
- request:
    body: '{"location": "West US", "properties": {"domainName": "TestDomainService.com",
      "replicaSets": [{"location": "West US", "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.AAD/domainServices/TestDomainService.com?api-version=2020-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.AAD/domainServices/TestDomainService.com","name":"TestDomainService.com","type":"Microsoft.AAD/domainServices","etag":"W/\"datetime''2023-10-09T03%3A31%3A04.9053497Z''\"","location":"West
        US","properties":{"version":2,"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","domainName":"TestDomainService.com","deploymentId":"753384a4-f36d-4641-8cc1-22ba8442e41c","syncOwner":"753384a4-f36d-4641-8cc1-22ba8442e41c","replicaSets":[{"replicaSetId":"753384a4-f36d-4641-8cc1-22ba8442e41c","location":"West
        US","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default"}],"domainSecuritySettings":{"ntlmV1":"Disabled","tlsV1":"Enabled","syncNtlmPasswords":"Enabled","syncKerberosPasswords":"Enabled","syncOnPremPasswords":"Enabled"},"domainConfigurationType":"FullySynced","sku":"Enterprise","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AAD/locations/westus/operationResults/605b85f3-32ab-4f78-9358-38ab6e567bdd?api-version=2020-01-01&t=638324190731343924&c=MIIHADCCBeigAwIBAgITfAOt9JON98CjYPdc9QAAA630kzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMwODAzMDE0MDQxWhcNMjQwNzI4MDE0MDQxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AAD/locations/westus/operationResults/605b85f3-32ab-4f78-9358-38ab6e567bdd?api-version=2020-01-01&t=638324190731343924&c=MIIHADCCBeigAwIBAgITfAOt9JON98CjYPdc9QAAA630kzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMwODAzMDE0MDQxWhcNMjQwNzI4MDE0MDQxWjBAMT4wPAYDVQQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.AAD/domainServices/TestDomainService.com?api-version=2020-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.AAD/domainServices/TestDomainService.com","name":"TestDomainService.com","type":"Microsoft.AAD/domainServices","etag":"W/\"datetime''2023-10-09T03%3A56%3A46.144847Z''\"","location":"West
        US","properties":{"version":2,"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","domainName":"TestDomainService.com","deploymentId":"753384a4-f36d-4641-8cc1-22ba8442e41c","syncOwner":"753384a4-f36d-4641-8cc1-22ba8442e41c","replicaSets":[{"replicaSetId":"753384a4-f36d-4641-8cc1-22ba8442e41c","location":"West
        US","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000002/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/default","domainControllerIpAddress":["10.0.0.4"],"externalAccessIpAddress":"104.42.199.170","serviceStatus":"Running"}],"ldapsSettings":{"ldaps":"Disabled","publicCertificate":"","certificateNotAfter":"0001-01-01T08:00:00Z","externalAccess":"Disabled"},"domainSecuritySettings":{"ntlmV1":"Disabled","tlsV1":"Enabled","syncNtlmPasswords":"Enabled","syncKerberosPasswords":"Enabled","syncOnPremPasswords":"Enabled"},"filteredSync":"Disabled","resourceForestSettings":{"settings":[]},"domainConfigurationType":"FullySynced","notificationSettings":{"notifyGlobalAdmins":"Enabled","notifyDcAdmins":"Enabled","additionalRecipients":[]},"sku":"Enterprise","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2023-10-09T03%3A56%3A46.144847Z'"
    status:
      code: 200
      message: OK
version: 1
