interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002?api-version=2023-04-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.RecoveryServices/vaults/vault000002''
        under resource group ''clitest.rg.siterecovery.vault.000001'' was not found.
        For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus2euap", "properties": {"publicNetworkAccess": "Enabled",
      "monitoringSettings": {"azureMonitorAlertSettings": {"alertsForAllJobFailures":
      "Enabled"}, "classicAlertSettings": {"alertsForCriticalOperations": "Enabled"}},
      "securitySettings": {}}, "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002?api-version=2023-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"vault000002","etag":"W/\"datetime''2023-10-09T07%3A22%3A39.4945709Z''\"","properties":{"provisioningState":"Provisioning","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"secureScore":"None","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/operationStatus/MjA0NzswM2E4NzM1OC0wNDhhLTRhMDMtYWQ0OS1lNjk1YTYwYWEyNDU=?api-version=2023-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '209'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/operationStatus/MjA0NzswM2E4NzM1OC0wNDhhLTRhMDMtYWQ0OS1lNjk1YTYwYWEyNDU=?api-version=2023-04-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002?api-version=2023-04-01
  response:
    body:
      string: '{"location":"eastus2euap","name":"vault000002","etag":"W/\"datetime''2023-10-09T07%3A23%3A40.3057185Z''\"","properties":{"provisioningState":"Succeeded","privateEndpointStateForBackup":"None","privateEndpointStateForSiteRecovery":"None","backupStorageVersion":"Unassigned","monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"},"classicAlertSettings":{"alertsForCriticalOperations":"Enabled"}},"securitySettings":{"immutabilitySettings":null,"softDeleteSettings":{"softDeleteRetentionPeriodInDays":14,"softDeleteState":"Enabled"},"multiUserAuthorization":"Disabled"},"secureScore":"None","publicNetworkAccess":"Enabled","restoreSettings":{"crossSubscriptionRestoreSettings":{"crossSubscriptionRestoreState":"Enabled"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAppliances?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationMigrationItems?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationNetworks?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationNetworkMappings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationProtectedItems?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationProtectionContainers?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationProtectionContainerMappings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationRecoveryServicesProviders?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationStorageClassifications?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationStorageClassificationMappings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationvCenters?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationSupportedOperatingSystems?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationSupportedOperatingSystems/Default","name":"Default","type":"Microsoft.RecoveryServices/vaults/replicationSupportedOperatingSystems","properties":{"supportedOsList":[{"instanceType":"A2A","supportedOs":[{"osName":"centos","osType":"linux","osVersions":[{"version":"6.0"},{"version":"6.1"},{"version":"6.2"},{"version":"6.3"},{"version":"6.4"},{"version":"6.5"},{"version":"6.6"},{"version":"6.7"},{"version":"6.8"},{"version":"6.9"},{"version":"6.10"},{"version":"7.0"},{"version":"7.1"},{"version":"7.2"},{"version":"7.3"},{"version":"7.4"},{"version":"7.5"},{"version":"7.6"},{"version":"7.7"},{"version":"7.8"},{"version":"7.9"},{"version":"8.0"},{"version":"8.1"},{"version":"8.2"},{"version":"8.3"},{"version":"8.4"},{"version":"8.5"},{"version":"8.6"},{"vers[...]
- request:
    body: '{"properties": {"customEmailAddresses": ["email@address.com"], "locale":
      "en_US", "sendToOwners": "Send"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings/defaultAlertSetting?api-version=2022-08-01
  response:
    body:
      string: '{"name":"defaultAlertSetting","type":"Microsoft.RecoveryServices/vaults/replicationAlertSettings","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings/defaultAlertSetting","properties":{"sendToOwners":"Send","customEmailAddresses":["email@address.com"],"locale":"en_US"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"name":"defaultAlertSetting","type":"Microsoft.RecoveryServices/vaults/replicationAlertSettings","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationAlertSettings/defaultAlertSetting","properties":{"sendToOwners":"DoNotSend","customEmailAddresses":["email2@address.com"],"locale":"fr_FR"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationEvents?api-version=2022-08-01
  response:
    body:
      string: '{"value":[],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth/default/refresh?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/2d95053f-ef1e-4c6b-a1bf-d263c13585fb?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth/operationresults/2d95053f-ef1e-4c6b-a1bf-d263c13585fb?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/2d95053f-ef1e-4c6b-a1bf-d263c13585fb?api-version=2022-08-01
  response:
    body:
      string: '{"error":null,"id":null,"name":"2d95053f-ef1e-4c6b-a1bf-d263c13585fb","properties":null,"status":"InProgress","startTime":"2023-10-09T07:24:45.6745729Z","endTime":null,"percentComplete":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth?api-version=2022-08-01
  response:
    body:
      string: '{"name":"Default","type":"Microsoft.RecoveryServices/vaults/replicationVaultHealth","id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationVaultHealth/Default","properties":{"vaultErrors":[],"protectedItemsHealth":{"resourceCount":0,"issues":[],"categorizedResourceCounts":{"testFailoverApplicableProtectedItemsCount":0,"testFailoverInProgressProtectedItemsCount":0,"testFailoverWaitingProtectedItemsCount":0,"protectedItemsCriticalCount":0,"protectedItemsWarningCount":0,"protectedItemsNeutralCount":0,"protectedItemsTestFailoverCriticalCount":0,"protectedItemsTestFailoverWarningCount":0,"protectedItemsConfigurationCriticalCount":0,"protectedItemsConfigurationWarningCount":0,"protectedItemsFailoverHealthCriticalCount":0,"protectedItemsFailoverHealthWarningCount":0}},"fabricsHealth":{"resourceCount":0,"issues":[],"categorizedResourceCounts":null},"containersHealth":{"resourceCount":0,"issues":[],"categorizedResourceCounts":null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/2d95053f-ef1e-4c6b-a1bf-d263c13585fb","name":"2d95053f-ef1e-4c6b-a1bf-d263c13585fb","type":"Microsoft.RecoveryServices/vaults/replicationJobs","properties":{"activityId":null,"scenarioName":"RefreshVaultHealth","friendlyName":"Refresh
        vault health","state":"Succeeded","stateDescription":"Completed","tasks":[],"errors":[],"startTime":"2023-10-09T07:24:45.6745729Z","endTime":"2023-10-09T07:24:46Z","allowedActions":[],"targetObjectId":"560054153621301455","targetObjectName":"","targetInstanceType":"Vault","customDetails":null}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/2d95053f-ef1e-4c6b-a1bf-d263c13585fb?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/2d95053f-ef1e-4c6b-a1bf-d263c13585fb","name":"2d95053f-ef1e-4c6b-a1bf-d263c13585fb","type":"Microsoft.RecoveryServices/vaults/replicationJobs","properties":{"activityId":"eb63b297-6674-11ee-bc0e-dbacba748087
        ActivityId: 2925ff9b-065f-4408-8538-617181dfa807","scenarioName":"RefreshVaultHealth","friendlyName":"Refresh
        vault health","state":"Succeeded","stateDescription":"Completed","tasks":[{"taskId":"RefreshFailoverHealthTask","name":"RefreshFailoverHealthTask","startTime":"2023-10-09T07:24:46.4065371Z","endTime":"2023-10-09T07:24:46.4378007Z","allowedActions":[],"friendlyName":"Refreshing
        failover health","state":"Succeeded","stateDescription":"Completed","taskType":"TaskDetails","customDetails":{"instanceType":"TaskDetails"},"groupTaskCustomDetails":null,"errors":[]}],"errors":[],"startTime":"2023-10-09T07:24:45.6745729Z","endTime":"2023-10-09T07:24:46Z","allowedActions":[],"targetObjectId":"560054153621301455","targetObjectName":"","targetInstanceType":"Vault","customDetails":{"instanceType":"AsrJobDetails","affectedObjectDetails":{}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/export?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/7ffeb085-bb86-4334-848b-fd480b627f3a?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationJobs/7ffeb085-bb86-4334-848b-fd480b627f3a/operationresults/7ffeb085-bb86-4334-848b-fd480b627f3a?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"properties": {"providerSpecificInput": {"instanceType": "InMageRcm",
      "appConsistentFrequencyInMinutes": 0, "crashConsistentFrequencyInMinutes": 5,
      "enableMultiVmSync": "true", "recoveryPointHistoryInMinutes": 2880}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/5b4d5274-db96-40c0-bd30-5e53ffd9991e?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004/operationresults/5b4d5274-db96-40c0-bd30-5e53ffd9991e?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004?api-version=2022-08-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004","name":"policy000004","type":"Microsoft.RecoveryServices/vaults/replicationPolicies","properties":{"friendlyName":"policy000004","providerSpecificDetails":{"instanceType":"InMageRcm","recoveryPointHistoryInMinutes":2880,"appConsistentFrequencyInMinutes":0,"crashConsistentFrequencyInMinutes":5,"enableMultiVmSync":"true","status":false,"associatedItemsCount":0,"dataSourceType":"VM"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies?api-version=2022-08-01
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004","name":"policy000004","type":"Microsoft.RecoveryServices/vaults/replicationPolicies","properties":{"friendlyName":"policy000004","providerSpecificDetails":{"instanceType":"InMageRcm","recoveryPointHistoryInMinutes":2880,"appConsistentFrequencyInMinutes":0,"crashConsistentFrequencyInMinutes":5,"enableMultiVmSync":"true","status":false,"associatedItemsCount":0,"dataSourceType":"VM"}}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"replicationProviderSettings": {"instanceType": "InMageRcm",
      "appConsistentFrequencyInMinutes": 0, "crashConsistentFrequencyInMinutes": 5,
      "enableMultiVmSync": "true", "recoveryPointHistoryInMinutes": 1440}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004?api-version=2022-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationOperationStatus/9015a531-4e23-4f2d-9250-23b526302e1a?api-version=2022-08-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg.siterecovery.vault.000001/providers/Microsoft.RecoveryServices/vaults/vault000002/replicationPolicies/policy000004/operationresults/9015a531-4e23-4f2d-9250-23b526302e1a?api-version=2022-08-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
