interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2023-07-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/cliakstest000002''
        under resource group ''clitest000001'' was not found. For more details please
        go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestr36m35obt-0b1f64",
      "agentPoolProfiles": [{"count": 3, "vmSize": "standard_d2s_v3", "osDiskSizeGB":
      0, "workloadRuntime": "OCIContainer", "osType": "Linux", "enableAutoScaling":
      false, "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "", "upgradeSettings": {}, "enableNodePublicIP": false, "enableCustomCATrust":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
      "enableFIPS": false, "networkProfile": {}, "name": "nodepool1"}], "linuxProfile":
      {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "enablePodSecurityPolicy":
      false, "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16",
      "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "outboundType": "loadBalancer",
      "loadBalancerSku": "standard"}, "disableLocalAccounts": false, "storageProfile":
      {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2023-07-02-preview
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.26.6\",\n   \"currentKubernetesVersion\": \"1.26.6\",\n   \"dnsPrefix\":
        \"cliakstest-clitestr36m35obt-0b1f64\",\n   \"fqdn\": \"cliakstest-clitestr36m35obt-0b1f64-szxzoa0s.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestr36m35obt-0b1f64-szxzoa0s.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"nodepool1\",\n     \"count\":
        3,\n     \"vmSize\": \"standard_d2s_v3\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.26.6\",\n     \"currentOrchestratorVersion\": \"1.26.6\",\n     \"enableNodePublicIP\":
        false,\n     \"enableCustomCATrust\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-2204gen2containerd-202309.06.0\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false,\n     \"networkProfile\": {},\n     \"securityProfile\":
        {\n      \"sshAccess\": \"LocalUser\"\n     }\n    }\n   ],\n   \"linuxProfile\":
        {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\":
        [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
        test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"supportPlan\": \"KubernetesOfficial\",\n
        \  \"networkProfile\": {\n    \"networkPlugin\": \"kubenet\",\n    \"loadBalancerSku\":
        \"standard\",\n    \"loadBalancerProfile\": {\n     \"managedOutboundIPs\":
        {\n      \"count\": 1\n     },\n     \"backendPoolType\": \"nodeIPConfiguration\"\n
        \   },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\": \"10.0.0.0/16\",\n
        \   \"dnsServiceIP\": \"10.0.0.10\",\n    \"outboundType\": \"loadBalancer\",\n
        \   \"podCidrs\": [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\":
        [\n     \"10.0.0.0/16\"\n    ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n
        \  },\n   \"maxAgentPools\": 100,\n   \"autoUpgradeProfile\": {\n    \"nodeOSUpgradeChannel\":
        \"NodeImage\"\n   },\n   \"disableLocalAccounts\": false,\n   \"securityProfile\":
        {},\n   \"storageProfile\": {\n    \"diskCSIDriver\": {\n     \"enabled\":
        true,\n     \"version\": \"v1\"\n    },\n    \"fileCSIDriver\": {\n     \"enabled\":
        true\n    },\n    \"snapshotController\": {\n     \"enabled\": true\n    }\n
        \  },\n   \"oidcIssuerProfile\": {\n    \"enabled\": false\n   },\n   \"workloadAutoScalerProfile\":
        {},\n   \"metricsProfile\": {\n    \"costAnalysis\": {\n     \"enabled\":
        false\n    }\n   },\n   \"resourceUID\": \"6524657fe98a9c0001d562cf\"\n  },\n
        \ \"identity\": {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\n  },\n  \"sku\":
        {\n   \"name\": \"Base\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/91a7407e-4347-4cf4-8850-b324e6325d02?api-version=2016-03-30&t=638324808961999698&c=MIIHADCCBeigAwIBAgITfAOt9JON98CjYPdc9QAAA630kzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMwODAzMDE0MDQxWhcNMjQwNzI4MDE0MDQxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50L[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/91a7407e-4347-4cf4-8850-b324e6325d02?api-version=2016-03-30&t=638324808961999698&c=MIIHADCCBeigAwIBAgITfAOt9JON98CjYPdc9QAAA630kzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMwODAzMDE0MDQxWhcNMjQwNzI4MDE0MDQxWjBAMT4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2023-01-01
  response:
    body:
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers?api-version=2021-04-01&$select=namespace,registrationstate
  response:
    body:
      string: '{"value":[{"namespace":"Microsoft.Management","registrationState":"Registered"},{"namespace":"Microsoft.OperationalInsights","registrationState":"Registered"},{"namespace":"Microsoft.OperationsManagement","registrationState":"Registered"},{"namespace":"Microsoft.Advisor","registrationState":"Registered"},{"namespace":"Microsoft.ContainerRegistry","registrationState":"Registered"},{"namespace":"Microsoft.ContainerService","registrationState":"Registered"},{"namespace":"Microsoft.DBforMariaDB","registrationState":"Registered"},{"namespace":"Microsoft.Sql","regis[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.monitor/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Monitor","namespace":"Microsoft.Monitor","authorizations":[{"applicationId":"be14bf7e-8ab4-49b0-9dc6-a0eddd6fa73e","roleDefinitionId":"803a038d-eff1-4489-a0c2-dbc204ebac3c"},{"applicationId":"e158b4a5-21ab-442e-ae73-2e19f4e7d763","roleDefinitionId":"e46476d4-e741-4936-a72b-b768349eed70","managedByRoleDefinitionId":"50cd84fb-5e4c-4801-a8d2-4089ab77e6cd"}],"resourceTypes":[{"resourceType":"accounts","locations":["East
        US","Australia Southeast","Canada Central","Central India","Central US","East
        Asia","East US 2","North Europe","Norway East","South Africa North","South
        Central US","Southeast Asia","UAE North","UK South","West Central US","West
        Europe","West US","West US 2","East US 2 EUAP","Central US EUAP"],"apiVersions":["2023-04-03","2021-06-03-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"operations","locations":["North
        Central US","East US","Australia Central","Australia Southeast","Brazil South","Canada
        Central","Central India","Central US","East Asia","East US 2","North Europe","Norway
        East","South Africa North","South Central US","Southeast Asia","UAE North","UK
        South","West Central US","West Europe","West US","West US 2","East US 2 EUAP","Central
        US EUAP"],"apiVersions":["2023-04-03","2023-04-01","2021-06-03-preview","2021-06-01-preview"],"defaultApiVersion":"2021-06-01-preview","capabilities":"None"},{"resourceType":"locations","locations":[],"apiVersions":["2023-04-03","2023-04-01","2021-06-03-preview","2021-06-01-preview"],"capabilities":"None"},{"resourceType":"locations/operationResults","locations":["East
        US","Australia Southeast","Canada Central","Central India","Central US","East
        Asia","East US 2","North Europe","Norway East","South Africa North","South
        Central US","Southeast Asia","UAE North","UK South","West Central US","West
        Europe","West US","West US 2","East US 2 EUAP","Central US EUAP"],"apiVersions":["2023-04-03","2021-06-03-preview"],"capabilities":"None"},{"resourceType":"locations/operationStatuses","locations":["East
        US","Australia Southeast","Canada Central","Central India","Central US","East
        Asia","East US 2","North Europe","Norway East","South Africa North","South
        Central US","Southeast Asia","UAE North","UK South","West Central US","West
        Europe","West US","West US 2","East US 2 EUAP","Central US EUAP"],"apiVersions":["2023-04-03","2021-06-03-preview"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.dashboard/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Dashboard","namespace":"Microsoft.Dashboard","authorizations":[{"applicationId":"ce34e7e5-485f-4d76-964f-b3d2b16d1e4f","roleDefinitionId":"996b8381-eac0-46be-8daf-9619bafd1073"}[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Monitor?api-version=2022-01-01
  response:
    body:
      string: '{"namespace":"Microsoft.Monitor","resourceTypes":[{"resourceType":"accounts","locations":["East
        US 2 EUAP","Central US EUAP","North Central US","East US","Australia Central","Australia
        Southeast","Brazil South","Canada Central","Central India","Central US","East
        Asia","East US 2","France South"[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-westus2?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "westus2", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-westus2/providers/microsoft.monitor/accounts/DefaultAzureMonitorWorkspace-westus2?api-version=2023-04-03
  response:
    body:
      string: '{"properties":{"accountId":"5258b389-c0ca-4ca2-91b2-e7c2d6b9b691","metrics":{"prometheusQueryEndpoint":"https://defaultazuremonitorworkspace-westus2-x9qn.westus2.prometheus.monitor.azure.com","internalId":"mac_5258b389-c0ca-4ca2-91b2-e7c2d6b9b691"},"provisioningState":"Succeeded","defaultIngestionSettings":{"dataCollectionRuleResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_defaultazuremonitorworkspace-westus2_westus2_managed/providers/Microsoft.Insights/dataCollectionRules/defaultazuremonitorworkspace-westus2","dataCollectionEndpointResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MA_defaultazuremonitorworkspace-westus2_westus2_managed/providers/Microsoft.Insights/dataCollectionEndpoints/defaultazuremonitorworkspace-westus2"},"publicNetworkAccess":"Enabled"},"location":"westus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-westus2/providers/microsoft.monitor/accounts/defaultazuremonitorworkspace-westus2","name":"DefaultAzureMonitorWorkspace-westus2","type":"Microsoft.Monitor/accounts","etag":"\"07005963-0000-0800-0000-652466720000\"","systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-10-09T20:45:29.5451494Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-09T20:45:29.5451494Z"}}'
    headers:
      api-supported-versions:
      - 2021-06-01-preview, 2021-06-03-preview, 2023-04-01, 2023-04-03, 2023-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "MSProm-westus2-cliakstest000002", "location": "westus2", "kind":
      "Linux", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-westus2-cliakstest000002?api-version=2022-06-01
  response:
    body:
      string: '{"properties":{"immutableId":"dce-1d56a97f4fe34243ac4264c7fe8f2329","configurationAccess":{"endpoint":"https://msprom-westus2-cliakstest000002-re9m.westus2-1.handler.control.monitor.azure.com"},"logsIngestion":{"endpoint":"https://msprom-westus2-cliakstest000002-re9m.westus2-1.ingest.monitor.azure.com"},"metricsIngestion":{"endpoint":"https://msprom-westus2-cliakstest000002-re9m.westus2-1.metrics.ingest.monitor.azure.com"},"networkAcls":{"publicNetworkAccess":"Enabled"},"provisioningState":"Succeeded"},"location":"westus2","kind":"Linux","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-westus2-cliakstest000002","name":"MSProm-westus2-cliakstest000002","type":"Microsoft.Insights/dataCollectionEndpoints","etag":"\"e500cb9d-0000-0800-0000-652466750000\"","systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-10-09T20:45:40.4135626Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-09T20:45:40.4135626Z"}}'
    headers:
      api-supported-versions:
      - 2021-04-01, 2021-09-01-preview, 2022-06-01, 2023-03-11
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '59'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "kind": "Linux", "properties": {"dataCollectionEndpointId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionEndpoints/MSProm-westus2-cliakstest000002",
      "dataSources": {"prometheusForwarder": [{"name": "PrometheusDataSource", "streams":
      ["Microsoft-PrometheusMetrics"], "labelIncludeFilter": {}}]}, "dataFlows": [{"destinations":
      ["MonitoringAccount1"], "streams": ["Microsoft-PrometheusMetrics"]}], "description":
      "DCR description", "destinations": {"monitoringAccounts": [{"accountResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-westus2/providers/microsoft.monitor/accounts/DefaultAzureMonitorWorkspace-westus2",
      "name": "MonitoringAccount1"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSProm-westus2-cliakstest000002?api-ve[...]
- request:
    body: '{"location": "westus2", "properties": {"dataCollectionRuleId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSProm-westus2-cliakstest000002",
      "description": "Promtheus data collection association between DCR, DCE and target
      AKS resource"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerSe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-westus2/providers/microsoft.monitor/accounts/DefaultAzureMonitorWorkspace-westus2/providers/microsoft.alertsManagement/alertRuleRecommendations?api-version=2023-01-01-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/DefaultResourceGroup-westus2/providers/microsoft.monitor/accounts/DefaultAzureMonitorWorkspace-westus2/providers/microsoft.alertsManagement/alertRuleRecommendations/NodeRecordingRulesRuleGroup\",\r\n
        \     \"name\": \"NodeRecordingRulesRuleGroup\",\r\n      \"type\": \"Microsoft.AlertsManagement/AlertRuleRecommendations\",\r\n
        \     \"properties\": {\r\n        \"alertRuleType\": \"Microsoft.AlertsManagement/prometheusRuleGroups\",\r\n
        \       \"displayInformation\": {\r\n          \"RuleNames\": \"[null,null,null,null,null,null,null,null,null,null,null]\",\r\n
        \         \"AlertRuleNamePrefix\": \"NodeRecordingRulesRuleGroup\",\r\n          \"RuleTitle\":
        \"This would be the info message for prom recording rules\"\r\n        },\r\n
        \       \"rulesArmTemplate\": {\r\n          \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n
        \         \"contentVersion\": \"1.0.0.0\",\r\n          \"parameters\": {\r\n
        \           \"targetResourceId\": {\r\n              \"type\": \"string\",\r\n
        \             \"defaultValue\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-westus2/providers/microsoft.monitor/accounts/DefaultAzureMonitorWorkspace-westus2\"\r\n
        \           },\r\n            \"targetResourceName\": {\r\n              \"type\":
        \"string\",\r\n              \"defaultValue\": \"defaultazuremonitorworkspace-westus2\"\r\n
        \           },\r\n            \"actionGroupIds\": {\r\n              \"type\":
        \"array\",\r\n              \"defaultValue\": [],\r\n              \"metadata\":
        {\r\n                \"description\": \"Insert Action groups ids to attach
        them to the below alert rules.\"\r\n              }\r\n            },\r\n
        \           \"location\": {\r\n              \"type\": \"string\",\r\n              \"defaultValue\":
        \"westus2\"\r\n            },\r\n            \"clusterNameForPrometheus\":
        {\r\n              \"type\": \"string\"\r\n            },\r\n            \"alertNamePrefix\":
        {\r\n              \"type\": \"string\",\r\n              \"defaultValue\":
        \"NodeRecordingRulesRuleGroup\",\r\n              \"minLength\": 1,\r\n              \"metadata\":
        {\r\n                \"description\": \"prefix of the alert rule name\"\r\n
        \             }\r\n            },\r\n            \"alertName\": {\r\n              \"type\":
        \"string\",\r\n              \"defaultValue\": \"[concat(parameters('alertNamePrefix'),
        ' - ', parameters('clusterNameForPrometheus'))]\",\r\n              \"minLength\":
        1,\r\n              \"metadata\": {\r\n                \"description\": \"Name
        of the alert rule\"\r\n              }\r\n            }\r\n          },\r\n
        \         \"variables\": {\r\n            \"scopes\": \"[array(parameters('targetResourceId'))]\",\r\n
        \           \"copy\": [\r\n              {\r\n                \"name\": \"actionsForPrometheusRuleGroups\",\r\n
        \               \"count\": \"[length(parameters('actionGroupIds'))]\",\r\n
        \               \"input\": {\r\n                  \"actiongroupId\": \"[parameters('actionGroupIds')[copyIndex('actionsForPrometheusRuleGroups')]]\"\r\n
        \               }\r\n              }\r\n            ]\r\n          },\r\n
        \         \"resources\": [\r\n            {\r\n              \"name\": \"[parameters('alertName')]\",\r\n
        \             \"type\": \"Microsoft.AlertsManagement/prometheusRuleGroups\",\r\n
        \             \"apiVersion\": \"2021-07-22-preview\",\r\n              \"location\":
        \"[parameters('location')]\",\r\n              \"properties\": {\r\n                \"description\":
        \"Node Recording Rules RuleGroup\",\r\n                \"scopes\": \"[variables('scopes')]\",\r\n
        \               \"clusterName\": \"[parameters('clusterNameForPrometheus')]\",\r\n
        \               \"interval\": \"PT1M\",\r\n                \"rules\": [\r\n
        \                 {\r\n                    \"record\": \"instance:node_num_cpu:sum\",\r\n
        \                   \"expression\": \"count without (cpu, mode) (  node_cpu_seconds_total{job=\\\"node\\\",mode=\\\"idle\\\"})\"\r\n
        \                 },\r\n                  {\r\n                    \"record\":
        \"instance:node_cpu_utilisation:rate5m\",\r\n                    \"expression\":
        \"1 - avg without (cpu) (  sum without (mode) (rate(node_cpu_seconds_total{job=\\\"node\\\",
        mode=~\\\"idle|iowait|steal\\\"}[5m])))\"\r\n                  },\r\n                  {\r\n
        \               [...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/NodeRecordingRulesRuleGroup-cliakstest000002",
      "name": "NodeRecordingRulesRuleGroup-cliakstest000002", "type": "Microsoft.AlertsManagement/prometheusRuleGroups",
      "location": "westus2", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-westus2/providers/m[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/KubernetesRecordingRulesRuleGroup-cliakstest000002",
      "name": "KubernetesRecordingRulesRuleGroup-cliakstest000002", "type": "Microsoft.AlertsManagement/prometheusRuleGroups",
      "location": "westus2", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-westus2[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/NodeRecordingRulesRuleGroup-Win-cliakstest000002",
      "name": "NodeRecordingRulesRuleGroup-Win-cliakstest000002", "type": "Microsoft.AlertsManagement/prometheusRuleGroups",
      "location": "westus2", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DefaultResourceGroup-westus2/pro[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.AlertsManagement/prometheusRuleGroups/NodeAndKubernetesRecordingRulesRuleGroup-Win-cliakstest000002",
      "name": "NodeAndKubernetesRecordingRulesRuleGroup-Win-cliakstest000002", "type":
      "Microsoft.AlertsManagement/prometheusRuleGroups", "location": "westus2", "properties":
      {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/09ba26cd-a8dc-4cbf-a3ec-1bd014426297?api-version=2016-03-30&t=638324811870397952&c=MIIHADCCBeigAwIBAgITfAOt9JON98CjYPdc9QAAA630kzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMwODAzMDE0MDQxWhcNMjQwNzI4MDE0MDQxWjBAMT4[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/providers/Microsoft.Insights/dataCollectionRuleAssociations?api-version=2022-06-01
  response:
    body:
      string: '{"value":[{"properties":{"description":"Promtheus data collection association
        between DCR, DCE and target AKS resource","dataCollectionRuleId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Insights/dataCollectionRules/MSProm-westus2-cliakstest000002"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002/providers/Microsoft.Insights/dataCollectionRuleAssociations/ContainerInsightsMetricsExtension-westus2-cliakstest000002","name":"ContainerInsightsMetricsExtension-westus2-cliakstest000002","type":"Microsoft.Insights/dataCollectionRuleAssociations","etag":"\"e50028a0-0000-0800-0000-652466950000\"","systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-10-09T20:46:12.5533583Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-09T20:46:12.5533583Z"}}],"nextLink":null}'
    headers:
      api-supported-versions:
[...]
