interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/kubernetesVersions?api-version=2023-06-02-preview
  response:
    body:
      string: "{\n  \"values\": [\n   {\n    \"version\": \"1.25\",\n    \"capabilities\":
        {\n     \"supportPlan\": [\n      \"KubernetesOfficial\"\n     ]\n    },\n
        \   \"patchVersions\": {\n     \"1.25.11\": {\n      \"upgrades\": [\n       \"1.26.3\",\n
        \      \"1.26.6\"\n      ]\n     },\n     \"1.25.6\": {\n      \"upgrades\":
        [\n       \"1.25.11\",\n       \"1.26.3\",\n       \"1.26.6\"\n      ]\n     }\n
        \   }\n   },\n   {\n    \"version\": \"1.26\",\n    \"capabilities\": {\n
        \    \"supportPlan\": [\n      \"KubernetesOfficial\"\n     ]\n    },\n    \"patchVersions\":
        {\n     \"1.26.3\": {\n      \"upgrades\": [\n       \"1.26.6\",\n       \"1.27.1\",\n
        \      \"1.27.3\"\n      ]\n     },\n     \"1.26.6\": {\n      \"upgrades\":
        [\n       \"1.27.1\",\n       \"1.27.3\"\n      ]\n     }\n    }\n   },\n
        \  {\n    \"version\": \"1.27\",\n    \"capabilities\": {\n     \"supportPlan\":
        [\n      \"KubernetesOfficial\",\n      \"AKSLongTermSupport\"\n     ]\n    },\n
        \   \"patchVersions\": {\n     \"1.27.1\": {\n      \"upgrades\": [\n       \"1.27.3\"\n
        \     ]\n     },\n     \"1.27.3\": {\n      \"upgrades\": []\n     }\n    }\n
        \  }\n  ]\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
