interactions:
- request:
    body: '{"location": "westus2", "properties": {"autoTrackingConfiguration": "disabled",
      "eventHubUri": "event-hub-uri", "links": [{"channels": [{"bandwidthMHz": 15.0,
      "centerFrequencyMHz": 8160.0, "endPoint": {"endPointName": "AQUA_directplayback",
      "ipAddress": "10.0.0.4", "port": "50000", "protocol": "TCP"}, "name": "channel1"}],
      "direction": "downlink", "name": "Link1", "polarization": "RHCP"}], "networkConfiguration":
      {"subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Rgp/providers/Microsoft.Network/virtualNetworks/Rgp-vnet/subnets/OrbitalSubnetProd"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_contact_profiles000001/providers/Microsoft.Orbital/contactProfiles/contact-profile-name?api-version=2022-03-01
  response:
    body:
      string: '{"error":{"code":"InvalidEventHubUriError","target":null,"message":"Event
        Hub URI: event-hub-uri is in the wrong format. Please ensure that the URI
        is the Resource ID of the Event Hub instance. Correlation ID: 39b22df3-1b13-4afc-85b0-47b01c48b8fa","details":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 400
      message: Bad Request
version: 1
