interactions:
- request:
    body: '{"location": "canadaeast"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_record_test_tc_000999990?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_record_test_tc_000999990","name":"cli_record_test_tc_000999990","type":"Microsoft.Resources/resourceGroups","location":"canadaeast","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceNetworking/trafficControllers?api-version=2023-05-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "canadaeast", "tags": {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_record_test_tc_000999990/providers/Microsoft.ServiceNetworking/trafficControllers/tc1?api-version=2023-05-01-preview
  response:
    body:
      string: '{"error":{"code":"LocationNotAvailableForResourceType","message":"The
        provided location ''canadaeast'' is not available for resource type ''Microsoft.ServiceNetworking/trafficControllers''.
        List of available regions for the resource type is ''australiaeast,centralus,eastasia,eastus,eastus2,northcentralus,northeurope,southcentralus,southeastasia,uksouth,westus,westeurope,centraluseuap,eastus2euap''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 400
      message: Bad Request
version: 1
